<div class="mini-profile">
    <div class="mini-profile-ava">
        <a routerLink="/cabinet">
            <img src="{{ userService.user.avatar }}" alt="" />
        </a>
    </div>
    <div class="mini-profile-content">
        <div class="mini-profile-login ell"><b>{{ userService.user.name }}</b></div>
        <div class="clear"></div>
        <div class="mini-profile-balance">
            <b>БАЛАНС:</b> <span id="balance">{{ userService.user.balance }}</span>Р
            <div class="mini-profile-button">
                <a (click)="showDonateModal()" class="plus"></a>
                <a href="{{ getLogoutRoute() }}" class="minus"></a>
            </div>
        </div>
    </div>
</div>