.case-2-i {
    background-color: #1d1e24;
    border-radius: 15px;
}

#box_imgs_paginate /deep/ .ngx-pagination a,
#box_imgs_paginate /deep/ .ngx-pagination button,
#items_paginate /deep/ .ngx-pagination a,
#items_paginate /deep/ .ngx-pagination button {
    color: #cacaca;
}

#box_imgs_paginate /deep/ .ngx-pagination,
#items_paginate /deep/ .ngx-pagination {
    font: 18px "PT Sans";
}

.text-center {
    text-align: center;
}

a {
    cursor: pointer;
}

.item_price, .item_name {
    display: block;

    font: 16px "PT Sans";
    color: white;

    width: 100%;
    height: 30px;

    position: absolute;
    z-index: 2;
    line-height: 30px;

    overflow: hidden;
    margin-top: 110px;
}
.item_price {
    font: 12px "PT Sans";
    margin-top: 135px;
    color: #f6b434;
}

.can_drop_items {
    width: 120px;
    height: 120px;

    top: 0;
    left: 0;

    cursor: pointer;
}
.can_drop_items img {
    height: 100px;
}
.can_drop_item {
    width: 164px;
    height: 160px;
}

/deep/ .mat-button {
    left: 50%;
    transform: translateX(-50%);

    margin-top: 20px !important;
    margin-bottom: 40px !important;

    color: #f6b434 !important;
    background-color: #222;
    font-size: 17px;
}

/deep/ .mat-form-field {
    color: white;
}

/deep/ .mat-input-underline {
    background-color: #f6b434;
}
/deep/ .mat-input-placeholder {
    color: #f6b434;
}

.active_item {
    background: url(/assets/images/own_box_item.png) no-repeat;
    background-size: contain;

    display: block;

    width: 164px;
    height: 160px;

    position: absolute;
    top: 0;
    left: 0;
}
.active_box {
    background: url(/assets/images/own_box_border.png) no-repeat;
    background-size: contain;

    width: 252px;
    height: 300px;

    display: block;
}

.box_price {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}
.box_price b {
    color: #f6b434;
}