<div class="container">
    <div class="c-title">Создание <b style="color:#2bec98;">уникального </b>кейса</div>

    <div class="s-title"><ul><li>ВЫБЕРИТЕ ИЗОБРАЖЕНИЕ КЕЙСА<li></ul></div>
    <div class="case-2-loop">
        <div *ngFor="let x of boxesService.boxesImages |
                     paginate: {
                        id: 'box_imgs_paginate',
                        itemsPerPage: 8,
                        currentPage: imgPage
                     }"
             class="case-2-i"
             [ngStyle]="{'background-image' : 'url(' + getBoxImg(x) + ')', 'cursor' : 'pointer'}"
             (click)="activeImg = x"
        >
            <div class="active_box" *ngIf="activeImg === x" [@fadeInAnimation]></div>
        </div>
    </div>
    <div class="text-center">
        <pagination-controls id="box_imgs_paginate"
                             (pageChange)="imgPage = $event"
                             previousLabel="Предыдущие"
                             nextLabel="Следующие"
        ></pagination-controls>
    </div>

    <div class="s-title"><ul><li>ВЫБЕРИТЕ ПРЕДМЕТЫ ДЛЯ ДРОПА<li></ul></div>
    <p class="box_price">Цена кейса: <b>{{ price }}</b> руб.</p>
    <ul class="viewn">
        <li *ngFor="let x of boxesService.items |
                    paginate: {
                        id: 'items_paginate',
                        itemsPerPage: 12,
                        currentPage: itemsPage
                    }"
            class="rul can_drop_item"
            (click)="itemClicked(x)"
        >
            <span class="item_name">{{ x.item.name }}</span>
            <span class="item_price">{{ x.item.price }} руб.</span>
            <span class="rul-images can_drop_items">
                <img src="{{ getItemImg(x.item) }}" alt="" />
            </span>
            <div class="active_item" *ngIf="isSelectedItem(x)" [@fadeInAnimation]></div>
        </li>
    </ul>
    <div class="text-center">
        <pagination-controls id="items_paginate"
                             (pageChange)="itemsPage = $event"
                             previousLabel="Предыдущие"
                             nextLabel="Следующие"
        ></pagination-controls>
    </div>

    <div class="s-title"><ul><li>ЗАПОЛНИТЕ ДАННЫЕ О КЕЙСЕ<li></ul></div>

    <mat-form-field style="width: 100%;">
        <input matInput placeholder="Название кейса" [(ngModel)]="boxName">
    </mat-form-field>

    <button mat-button (click)="createBox()">Создать кейс</button>
</div>