<h4>Список предметов в кейсе</h4>
<hr />

<table>
    <thead>
        <tr>
            <th>Предмет</th>
            <th>Цена</th>
            <th>Шанс выпадения</th>
            <th style="width: 30%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of boxItems |
                                paginate: {id: 'boxItemsList', itemsPerPage: 10, currentPage: page}
            ">
            <td>
                <p>{{ x.item.name }}</p>
            </td>
            <td>
                <p>{{ x.item.price }} руб.</p>
            </td>
            <td>
                <input type="number" [(ngModel)]="x.percent" />
            </td>
            <td>
                <button type="button" (click)="updateItem(x)">Изменить</button>
                <button type="button" (click)="removeItem(x)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls id="boxItemsList" (pageChange)="page = $event"></pagination-controls>
</div>