/deep/ .mat-button {
    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 40px !important;
    color: #f6b434 !important;
    background-color: #222;
    font-size: 17px;
}

#own_boxes_paginate /deep/ .ngx-pagination a,
#own_boxes_paginate /deep/ .ngx-pagination button {
    color: #cacaca;
}

#own_boxes_paginate /deep/ .ngx-pagination {
    font: 18px "PT Sans";
}

.text-center {
    text-align: center;
}

.case-2-i {
    background-color: #1d1e24;
    border-radius: 15px;
}
.case-2-loop .case-i-rub {
    color: white;
}