<div class="slider-loop" style="margin:32px 0 32px 0;">
    <div class="slider" [ngStyle]="{'height' : sliderHeight + 'px'}">
        <ul style="width: 1200px;">
            <li *ngFor="let x of boxesService.boxesList"
                class="s-{{ x.color_num }}"
                style="cursor:pointer;"
                [ngStyle]="{'background-image' : 'url(' + getBoxImg(x) + ')', 'cursor' : 'pointer'}"
                (click)="selectBox(x)"
            >
                        <span class="case-i-left">
                            <span class="case-i-name">КЕЙС <b>“{{ x.name }}”</b></span>
                        </span>
                <span class="case-i-rub">{{ x.price }}руб</span>
                <a (click)="selectBox(x)" class="slider-link"></a>
            </li>
        </ul>
    </div>
</div>

<div class="s-title">
    <ul>
        <li>ПРИОРИТЕТНЫЕ КЕЙСЫ</li>
    </ul>
</div>

<div class="case-2-loop">
    <div *ngFor="let x of boxesService.priorityBoxes"
         class="case-2-i"
         [ngStyle]="{'background-image' : 'url(' + getBoxImg(x) + ')', 'cursor' : 'pointer'}"
         (click)="selectBox(x)"
    >
        <div class="case-i-left">
            <div class="case-i-name">КЕЙС <b>“{{ x.name }}”</b></div>
        </div>
        <div class="case-i-rub">{{ x.price }} руб</div>
        <a (click)="selectBox(x)" class="case-2-link"></a>
    </div>
</div>