<div class="offers">
    <div *ngFor="let offer of offersService.offersList" class="item">
        <img src="{{ getImg(offer) }}" />

        <p class="title">{{ offer.title }}</p>
        <p class="text" [innerHTML]="offer.about"></p>
    </div>
</div>