.offers {
    display: block;

    width: 1200px;
    height: auto;
}

.offers .item {
    display: inline-block;

    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    width: 350px;
    min-height: 200px;
    /*height: auto;*/

    background: #1d1e24;
    vertical-align: top;
}
.offers .item img {
    width: 350px;
    height: 100px;
}
.offers .item p {
    margin: 5px;
}
.offers .item .title {
    font-size: 18px;
    color: #f6b434;
}
.offers .item .text {
    font: 14px "PT Sans";
}