button {
    background: #3b7fce;
    border: 1px black solid;
    color: white;

    min-width: 80px;
    padding: 5px;
    cursor: pointer;
    transition: .4s;
}
button:hover {
    color: antiquewhite;
}