<mat-tab-group>
    <mat-tab label="Секции кейсов">
        <app-admin-new-box-section></app-admin-new-box-section>
        <app-admin-boxes-sections-list></app-admin-boxes-sections-list>
    </mat-tab>

    <mat-tab label="Кейсы">
        <button *ngIf="caseItemsShowed" (click)="returnToList()">Назад к кейсам</button>

        <app-admin-new-box *ngIf="casesListShowed"></app-admin-new-box>
        <app-admin-boxes-list *ngIf="casesListShowed"
                              (onBoxSelected)="selectBox($event)"
                              (onBoxEdit)="editBox($event)"
        ></app-admin-boxes-list>

        <app-admin-new-box-item *ngIf="caseItemsShowed"
                                [box]="selectedBox"
                                (onItemAdded)="newBoxItem = $event"
        ></app-admin-new-box-item>
        <app-admin-box-items-list *ngIf="caseItemsShowed"
                                  [box]="selectedBox"
                                  [newItem]="newBoxItem"
        ></app-admin-box-items-list>

        <app-admin-edit-box *ngIf="editCaseShowed"
                            [box]="editableBox"
                            (onReturnEmitted)="returnToList()"
        ></app-admin-edit-box>
    </mat-tab>

    <mat-tab label="Кейсы игроков">
        <mat-tab-group>
            <mat-tab label="Изображения">
                <app-admin-new-own-box-img></app-admin-new-own-box-img>
                <app-admin-own-img-list></app-admin-own-img-list>
            </mat-tab>
            <mat-tab label="Предметы">
                <app-admin-new-own-box-item></app-admin-new-own-box-item>
                <app-admin-own-items-list></app-admin-own-items-list>
            </mat-tab>
        </mat-tab-group>

    </mat-tab>
</mat-tab-group>