<app-admin-new-promo-offer   *ngIf="isListShowed"></app-admin-new-promo-offer>
<app-admin-promo-offers-list *ngIf="isListShowed"
                             (onOfferSelected)="selectOffer($event)"
></app-admin-promo-offers-list>
<app-admin-promo-offer-info  *ngIf="!isListShowed"
                             (onReturnBack)="listShowed = true"
                             [offer]="selectedOffer"
></app-admin-promo-offer-info>