<app-admin-item-info [item]="selectedItem"
                     (onReturnBack)="showList()"
                     *ngIf="isItemSelected"
></app-admin-item-info>

<app-admin-new-item *ngIf="isListShowed"></app-admin-new-item>
<app-admin-items-list *ngIf="isListShowed"
                      (onItemSelected)="selectItem($event)"
></app-admin-items-list>