<h4>Статистика по дропам пользователя</h4>
<hr />

<table>
    <thead>
        <tr>
            <th>Дроп</th>
            <th>Статус</th>
            <th>Дата</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let drop of drops |
                    paginate: {id: 'user-drops-history', itemsPerPage: 10, currentPage: page}
        ">
            <td><p>{{ drop.item.name }}</p></td>
            <td>
                <p *ngIf="drop.status === 'Unchecked'">Еще не обработан</p>
                <p *ngIf="drop.status === 'Waiting'">На проверке</p>
                <p *ngIf="drop.status === 'Collecting'">На сборке</p>
                <p *ngIf="drop.status === 'Sent'">Отправлен</p>
                <p *ngIf="drop.status === 'Sold'">Продан</p>
            </td>
            <td><p>{{ drop.created_at }}</p></td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls id="user-drops-history" (pageChange)="page = $event"></pagination-controls>
</div>
