<app-admin-users-list (onUserSelected)="selectUser($event)"
                      (onShowCheats)="showCheats($event)"
                      *ngIf="isListShowed"
></app-admin-users-list>
<app-admin-user-info [user]="selectedUser"
                     (onBackClicked)="showList()"
                     *ngIf="isUserSelected"
></app-admin-user-info>
<app-admin-user-cheats (onReturnBack)="showList()"
                       [user]="selectedUserCheats"
                       *ngIf="isCheatsShowed"
></app-admin-user-cheats>