<h4>Добавление новой секции</h4>
<hr />

<table>
    <tbody>
        <tr>
            <td>
                <p>Название секции</p>
            </td>
            <td>
                <input type="text"
                       placeholder="Введите название секции..."
                       [value]="newSection.name"
                       (input)="newSection.name = $event.target.value"
                />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button type="button" (click)="addSection()">Добавить</button>
            </td>
        </tr>
    </tbody>
</table>