<h4>Изменение промо-акции</h4>
<hr />

<table>
    <tbody>
        <tr>
            <td>
                <p>Заголовок акции</p>
            </td>
            <td>
                <input type="text"
                       placeholder="Введите заголовок..."
                       [value]="offer.title"
                       (input)="offer.title = $event.target.value"
                />
            </td>
        </tr>
        <tr>
            <td>
                <p>Текст акции</p>
            </td>
            <td>
                <input type="text"
                       placeholder="Введите текст акции..."
                       [value]="offer.about"
                       (input)="offer.about = $event.target.value"
                />
            </td>
        </tr>
        <tr>
            <td>
                <p>Позиция акции</p>
            </td>
            <td>
                <input type="number"
                       placeholder="Введите позицию акции..."
                       [value]="offer.pos"
                       (input)="offer.pos = $event.target.value"
                />
            </td>
        </tr>
        <tr>
            <td>
                <p>Изображение</p>
            </td>
            <td>
                <input type="file"
                       placeholder="Выберите изображение..."
                       (change)="parseImg($event)"
                />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button type="button" (click)="updateOffer()">Изменить</button>
                <button type="button" (click)="returnBack()">Отменить</button>
            </td>
        </tr>
    </tbody>
</table>