h4 {
    font: 18px "PT Sans";
    font-weight: normal;

    color: #3b7fce;
    text-align: center;

    width: 100%;
    display: block;

    margin-top: 15px;
}
hr {
    margin: 20px 4% 20px 1%;
    border-radius: 5px;
    color: #ddd;
}

table {
    width: 100%;
}
table tr td, table tr th {
    color: #3b7fce;

    font: 16px "PT Sans";
    font-weight: normal;

    text-align: center;
    width: 50%;
    line-height: 35px;
}
table tr th {
    font-weight: bold;
}
input[type="text"],
input[type="number"] {
    width: 25%;
    height: 30px;

    display: inline-block;

    border: 2px #3b7fce solid;
    border-radius: 5px;

    font: 14px "PT Sans";
    color: black;

    margin-left: 10px;
    margin-bottom: 15px;
    padding: 5px;
}

a {
    color: #3b7fce;
}

button {
    color: black;

    border: 1px gray solid;
    border-radius: 5px;

    display: inline-block;
}

img {
    border-radius: 10px;
}

::-webkit-input-placeholder {
    color: #3b7fce;
}
::-moz-placeholder {
    color: #3b7fce;
}
:-ms-input-placeholder {
    color: #3b7fce;
}
:-moz-placeholder {
    color: #3b7fce;
}

.text-center {
    text-align: center;
    margin-top: 20px;
}

button {
    background: #3b7fce;
    border: 1px black solid;
    color: white;

    min-width: 80px;
    padding: 5px;
    cursor: pointer;
    transition: .4s;
}
button:hover {
    color: antiquewhite;
}