<mat-tab-group>
    <mat-tab label="Информация о пользователе">
        <h4>Информация о {{ user.name }}</h4>
        <hr />

        <table>
            <tbody>
                <tr>
                    <td>
                        <p>Имя:</p>
                    </td>
                    <td>
                        <p>{{ user.name }}</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>VK ID:</p>
                    </td>
                    <td>
                        <a href="https://vk.com/id{{ user.vk_id }}" target="_blank">{{ user.vk_id }}</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Баланс:</p>
                    </td>
                    <td>
                        <input type="number"
                               [value]="user.balance"
                               (input)="user.balance = $event.target.value" />
                        <button (click)="updateBalance()">Сохранить</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Админ?</p>
                    </td>
                    <td>
                        <mat-checkbox [checked]="user.is_admin"
                                      (change)="user.is_admin = !user.is_admin; updatePermissions()"></mat-checkbox>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Забанен?</p>
                    </td>
                    <td>
                        <mat-checkbox [checked]="user.is_blocked"
                                      (change)="user.is_blocked = !user.is_blocked; updateBlockState()"></mat-checkbox>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Кол-во рефералов:</p>
                    </td>
                    <td>
                        <p>{{ referralCount }}</p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <button (click)="returnBack()">Назад</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-tab>

    <mat-tab label="Статистика по платежам">
        <app-admin-user-payment-history [payments]="paymentStat"></app-admin-user-payment-history>
    </mat-tab>

    <mat-tab label="Статистика по промо-кодам">
        <app-admin-user-promo-history [promos]="promoStat"></app-admin-user-promo-history>
    </mat-tab>

    <mat-tab label="Статистика по рефералам">
        <app-admin-user-referral-history [referrals]="referralStat"></app-admin-user-referral-history>
    </mat-tab>

    <mat-tab label="Статистика по пользовательским">
        <app-admin-user-own-box-history [ownBoxes]="ownBoxStat"></app-admin-user-own-box-history>
    </mat-tab>

    <mat-tab label="Статистика по кейсам">
        <app-admin-user-boxes-history [drops]="dropsStat"></app-admin-user-boxes-history>
    </mat-tab>
</mat-tab-group>