<h4>Поиск среди предметов</h4>
<hr />

<table>
    <tbody>
        <tr>
            <td>
                <input type="text"
                       placeholder="Введите имя для поиска..."
                       [value]="searchName"
                       (input)="searchName = $event.target.value"
                />
            </td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Имя</th>
            <th>Цена</th>
            <th style="width: 30%;"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of itemsService.itemsList |
                adminItemName: searchName |
                paginate: {itemsPerPage: 10, currentPage: page}
            ">
            <td>
                <img src="{{ getImgUrl(item) }}" width="50px" height="50px" />
            </td>
            <td>
                <p>{{ item.name }}</p>
            </td>
            <td>
                <p>{{ item.price }} руб.</p>
            </td>
            <td>
                <button type="button" (click)="selectItem(item)">Изменить</button>
                <button type="button" (click)="itemsService.deleteItem(item)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>