<h4>Статистика по рефералам</h4>
<hr />

<table>
    <thead>
        <tr>
            <th>Кто открыл</th>
            <th>Доход юзеру</th>
            <th>Дата</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let referral of referrals |
                        paginate: {id: 'user-referral-history', itemsPerPage: 10, currentPage: page}
            ">
            <td><p>{{ referral.user.name }}</p></td>
            <td><p>{{ referral.amount }}</p></td>
            <td><p>{{ referral.created_at }}</p></td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls id="user-referral-history" (pageChange)="page = $event"></pagination-controls>
</div>
