p {
    color: green;
    font: 16px "PT Sans";
    font-weight: bold;
    text-align: center;
}

button {
    background-color: transparent;
    border: 1px black solid;
    color: #f6b434!important;
}

/deep/ .mat-button {
    left: 50%;
    transform: translateX(-50%);

    margin-top: 10px !important;
    margin-bottom: 0 !important;

    color: #f6b434 !important;
    background-color: #222;
    font-size: 17px;
}

/deep/ .mat-form-field {
    color: white;
}

/deep/ .mat-input-underline {
    background-color: #f6b434;
}
/deep/ .mat-input-placeholder {
    color: #f6b434;
}

/deep/ .mat-dialog-container {
    background: #333;
}