<div class="wrapper">
    <div class="header">
        <a href="/" class="logo"></a>

        <div class="prize">
            <a (click)="openDonateModal()" target="blank"></a>
        </div>

        <app-master-statistic></app-master-statistic>
        <app-master-navigation></app-master-navigation>

        <app-master-profile *ngIf="usersService.isAuth && usersService.isInited"></app-master-profile>
        <app-master-auth-form *ngIf="!usersService.isAuth && usersService.isInited"></app-master-auth-form>
    </div>

    <app-master-livedrop></app-master-livedrop>
    <router-outlet></router-outlet>
    <app-master-topusers></app-master-topusers>

    <div class="footer">
        <div class="footer-text">
            Все права защищены. &copy; 2018 <br />
            Авторизуясь на сайте вы принимаете <a routerLink="/license">пользовательское соглашение</a> <br /> <br />
            <a href="http://websafe.team/" target="_blank"><b style="color: white;">Сделано в </b>WEBSAFE</a> <br />
        </div>
        <div class="footer-blank">
            <div class="vk_widget">
                <div id="vk_groups"></div>
            </div>

            <div class="blank"><a href="//www.free-kassa.ru/"><img src="//www.free-kassa.ru/img/fk_btn/14.png"></a></div>
        </div>
    </div>
</div>
