<h4>Добавление предмета в кейс</h4>
<hr />

<table>
    <tbody>
        <tr>
            <td>
                <p>Предмет</p>
            </td>
            <td>
                <mat-select placeholder="Выберите предмет..." [(ngModel)]="boxItem.item_id">
                    <mat-option *ngFor="let item of itemsService.itemsList" [value]="item.id">
                        {{ item.name }} - {{ item.price }} руб.
                    </mat-option>
                </mat-select>
            </td>
        </tr>

        <tr>
            <td>
                <p>Шанс выпадения</p>
            </td>
            <td>
                <input type="number" [(ngModel)]="boxItem.percent" />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button type="button" (click)="addItem()">Добавить</button>
            </td>
        </tr>
    </tbody>
</table>