<div class="live">
    <div *ngFor="let drop of liveDropService.drops" class="live-i">
        <div class="rul-prize">
            <img [src]="getImg(drop)" />
        </div>
        <a class="live-avatar" routerLink="/profile/{{ drop.user_id }}">
            <img [src]="drop.user.avatar" />
        </a>
    </div>
</div>