<h4>Список секций кейсов</h4>
<hr />

<table>
    <thead>
        <tr>
            <th>Название</th>
            <th style="width: 30%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of sectionsService.sectionsList |
                        paginate: {id: 'boxesSectionsList', itemsPerPage: 10, currentPage: page}
                    ">
            <td>
                <p>{{ x.name }}</p>
            </td>
            <td>
                <button type="button" (click)="sectionsService.deleteSection(x)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls id="boxesSectionsList" (pageChange)="page = $event"></pagination-controls>
</div>