<div class="container">
    <div class="c-title">Пользовательское <b style="color:#2bec98;">соглашение</b></div>
    <div class="terms">
        <p class="terms-title">1. ОБЩИЕ ПОЛОЖЕНИЯ И ТЕРМИНЫ</p>
        <br />
        <p>1.1. Данный документ является договором на использование LifeDrop.net. Ниже приведены правила и условия использования Сервиса. Пожалуйста, внимательно ознакомьтесь с ними.</p>
        <p>1.2. Сервисом могут пользоваться пользователи достигшие 18-ти летия.</p>
        <p>1.3. Сайт " LifeDrop.net " -  это Интернет-Магазин принадлежащий организатору и находящиеся по адресу в сети интерет https://lifedrop.net. Организатором предоставляются услуги пользователю по организацию его развлечения, досуга и отдыха.</p>
        <p>1.4 Организаторы Интернет-Магазина  LifeDrop.net  никого насильно не заставляют проводить свой досуг на этом проекте.</p>
        <p>1.5 Приобретение товара из определенной категории производится через программный код, встроенный в структуру данного сетевого ресурса, результат действия которого представляет собой автоматическую нерепрезентативную выборку товара в случае заключения сделки с посетителем (потребителем) ресурса.</p>
        <br />
        <p class="terms-title">2. УЧЕТНАЯ ЗАПИСЬ, ПАРОЛЬ, БЕЗОПАСНОСТЬ</p>
        <br />
        <p>2.1 Для открытия Учетной Записи пользователь должен авторизоваться через Вконтакте.</p>
        <p>2.2 Пользователь несет полную ответственность за хранение конфиденциальной информации, за потерю доступа к своей Учетной Записи.</p>
        <p>2.3 Кроме того, пользователь несет полную ответственность за любые совершенные им действия.</p>
        <p>2.4 Сервис не несет ответственности за поступки, совершенные Пользователем в отношении третьих лиц.</p>
        <p>2.5 Пользователь обязуется сообщить Сервису о любом несанкционированном использовании его Учетной записи.</p>
        <p>2.6 При возникновении споров и спорных ситуаций стороны обязуются разрешить возникший вопрос во внесудебном порядке. Обо всех случаях незаконного использования личных данных, чужих электронных средств оплаты и других нарушениях посетитель (потребитель) должен незамедлительно сообщить в службу поддержки сетевого ресурса Lifedrop в группу вконтакте https://vk.com/lifedrops.</p>
        <br />
        <p class="terms-title">3. КОНФИДЕНЦИАЛЬНОСТЬ</p>
        <br />
        <p>3.1 Сервис обязуется не редактировать и не раскрывать любую конфиденциальную информацию, предоставленную Пользователем Сервису.</p>
        <p>3.2 Сервис также обязуется хранить личный пароль пользователя в зашифрованном виде.</p>
        <p>3.3 Личные данные могут быть предоставлены третьим лицам лишь в связи с нарушением законодательства, а также оскорблением или клеветой в отношении брендов или торговых марок третьих лиц.</p>
        <br />
        <p class="terms-title">4. ПОЛЬЗОВАТЕЛЬ</p>
        <br />
        <p>4.1 Сервис оставляет за собой право в любой момент блокировать Пользователя в связи с нарушением правил использования Сервиса или законодательства.</p>
        <p>4.2 Пополнение счета в рамках сетевого ресурса LifeDrop не предусматривает возврат неиспользованных средств Потребителю.</p>
        <p>4.3 Неприемлемы попытки несанкционированного доступа, попытки нанесения вреда Сервису.</p>
        <p>4.4 При добавлении на сайт любой информации, запрещены оскорбления, вымогательства, клевета, блеф, сообщения, содержащие вредоносную информацию (в т.ч. вирусы, трояны, черви и т.п.), а также информация, способная нанести вред третьим лицам.</p>
        <p>4.5 Товар заказанный Потребителем может быть заменен на аналогичный (в пределах обозначенной на сайте цены) по усмотрению Администрации LifeDrop в случае если данного товара нет в наличии.</p>
        <p>4.6 Товар может немного отличаться от внешнего вида предоставленного на сайте (Цвет).</p>
        <br />
        <p class="terms-title">5. ДОСТАВКА</p>
        <br />
        <p>5.1 Отправка заказа производится через Почту России и курьерские службы.</p>
        <p>5.2 Администрация не выполняет повторную отправку посылки в случае если Потребитель не забрал посылку в своем почтовом отделении в срок (или курьер не смог вручить вам товар по вашим причинам или обстоятельствам) и она вернулась отправителю.</p>
        <p>5.3 Доставка распространяется в Россию и другие страны СНГ.</p>
        <p>5.4 Отправка товаров из Интернет-Магазина Lifedrop.net является полностью бесплатной.</p>
        <p>5.5 Доставка производится до 60 дней, с момента отправки и получения Трек-Номера.</p>
        <p>5.6 В случае если в течении этого времени потребитель не получает свой товар по вине транспортных компаний и Интернет-Магазина Lifedrop, то производится повторная отправка или же возврат средств.</p>
        <br />
        <p class="terms-title">6. ЗАПРЕЩЕНО</p>
        <br />
        <p>6.1 Запрещается публиковать фальсифицированные данные</p>
        <p>6.2 Запрещается передача любых материалов, которые могут нарушить интеллектуальную собственность третьих лиц</p>
        <p>6.3 Запрещаются фальшивые публикации информации с целью получения несанкционированных доступов к информации или данным третьих лиц</p>
        <p>6.4 Запрещается публикация информации религиозного и политического характера</p>
        <p>6.5 Запрещается регистрировать более одной Учетной Записи</p>
        <p>6.6 Запрещается передавать данные для доступа к Учетной записи третьим лицам</p>
        <p>6.7 Запрещается оскорблять, обзывать, ставить под сомнение профессиональную квалификацию и добросовестность физических и юридических лиц, в том числе Пользователей Сервиса и Администрации Сервиса.</p>
        <p>6.8 Запрещается выбирать себе аватары, содержащие сцены насилия, угрозы, сквернословия, разврат (порнография), дискриминация в любых проявлениях, коммерческая реклама и рекламные тексты</p>
        <br />
        <p class="terms-title">7. ПРИНЯТИЕ УСЛОВИЙ СОГЛАШЕНИЯ (АКЦЕНТ ОФЕРТЫ)</p>
        <br />
        <p>7.1 Зарегистрировавшись в Сервисе, Вы, тем самым, принимаете условия настоящего Соглашения.</p>
        <br />
        <p class="terms-title">8. ПРАВА</p>
        <br />
        <p>8.1. Исключительное право на Сервис принадлежит Сервису</p>
        <p>8.2. Все права на материалы, представленные на нашем сайте, принадлежат Правообладателям</p>
    </div>
</div>