<h4>Добавление новой акции</h4>
<hr />

<table>
    <tbody>
        <tr>
            <td>
                <p>Заголовок акции</p>
            </td>
            <td>
                <input type="text"
                       placeholder="Введите заголовок..."
                       [value]="newOffer.title"
                       (input)="newOffer.title = $event.target.value"
                />
            </td>
        </tr>
        <tr>
            <td>
                <p>Текст акции</p>
            </td>
            <td>
                <input type="text"
                       placeholder="Введите текст акции..."
                       [value]="newOffer.about"
                       (input)="newOffer.about = $event.target.value"
                />
            </td>
        </tr>
        <tr>
            <td>
                <p>Позиция акции</p>
            </td>
            <td>
                <input type="number"
                       placeholder="Введите позицию акции..."
                       [value]="newOffer.pos"
                       (input)="newOffer.pos = $event.target.value"
                />
            </td>
        </tr>
        <tr>
            <td>
                <p>Изображение</p>
            </td>
            <td>
                <input type="file"
                       placeholder="Выберите изображение..."
                       (change)="parseImg($event)"
                />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button type="button" (click)="addOffer()">Добавить</button>
            </td>
        </tr>
    </tbody>
</table>