a {
    cursor: pointer;
}

.item_price, .item_name {
    display: block;

    font: 18px "PT Sans";
    color: white;

    width: 100%;
    height: 30px;

    position: absolute;
    z-index: 2;
    line-height: 30px;

    overflow: hidden;
    margin-top: 125px;
}

.can_drop_items {
    width: 120px;
    height: 120px;

    top: 0;
    left: 0;
}
.can_drop_items img {
    height: 100px;
    transition: .5s linear;
}
.can_drop_item {
    width: 164px;
    height: 160px;

    transition: border-color .5s linear;
    border: 2px solid transparent;

    margin-right: 15px;
}
.can_drop_item:hover .can_drop_items img {
    height: 120px;
}