<div class="container">
    <div class="c-title" *ngIf="!isUserBoxGame">КЕЙС <b style="color:#2bec98;">“{{ gameService.box.name }}”</b></div>
    <div class="c-title" *ngIf="isUserBoxGame">КЕЙС <b style="color:#2bec98;">“{{ gameService.ownBox.name }}”</b></div>
    <div class="rulets">
        <div class="rulet" [ngClass]="{'active' : isRolling}">
            <ul>
                <li *ngFor="let x of gameService.roulleteItems" class="rul">
                    <span class="rul-images"><img src="{{ getItemImg(x) }}" alt="" /></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="rulet-button" *ngIf="!userService.isAuth"><a [href]="getAuthUrl()">АВТОРИЗУЙТЕСЬ</a></div>

    <div class="rulet-button" *ngIf="!hasEnoughMoney() && !isUserBoxGame"><a (click)="openDonateModal()">ПОПОЛНИТЬ СЧЕТ НА {{ gameService.box.price }}Р</a></div>
    <div class="rulet-button" *ngIf="readyToPlay() && !isUserBoxGame"><a (click)="openBox()" class="open-link">ОТКРЫТЬ КЕЙС ЗА {{ gameService.box.price }} РУБ.</a></div>

    <div class="rulet-button" *ngIf="!hasEnoughMoney() && isUserBoxGame"><a (click)="openDonateModal()">ПОПОЛНИТЬ СЧЕТ НА {{ gameService.ownBox.price }}Р</a></div>
    <div class="rulet-button" *ngIf="readyToPlay() && isUserBoxGame"><a (click)="openOwnBox()" class="open-link">ОТКРЫТЬ КЕЙС ЗА {{ gameService.ownBox.price }} РУБ.</a></div>

    <div class="s-title"><ul><li>ЧТО МОЖЕТ ВЫПАСТЬ В ЭТОМ КЕЙСЕ?<li></ul></div>
    <ul class="viewn">
        <li *ngFor="let x of gameService.items"
            class="rul can_drop_item"
            [ngStyle]="{'border-color' : hoverItemColor(x)}"
            (mouseover)="itemHovered = x.id"
            (mouseleave)="itemHovered = -1"
        >
            <span class="item_name">{{ x.item.name }}</span>
            <span class="rul-images can_drop_items">
                <img src="{{ getImg(x) }}" alt="" />
            </span>
        </li>
    </ul>
</div>