<h4>Список доступных изображений пользователям</h4>
<hr />

<table>
    <thead>
        <tr>
            <th></th>
            <th style="width: 30%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of boxesService.boxImages |
                    paginate: {id: 'ownImgList', itemsPerPage: 10, currentPage: page}
        ">
            <td>
                <img [src]="getImg(x)" width="150px" height="150px" />
            </td>
            <td>
                <button type="button" (click)="boxesService.deleteImage(x)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls id="ownImgList" (pageChange)="page = $event"></pagination-controls>
</div>