<div class="modal" style="width:344px;">
    <div class="modal-close arcticmodal-close" (click)="modalsService.hideAll()"></div>
    <div class="modal-title">ПОПОЛНЕНИЕ <b style="color:#f6b434;">баланса</b> <span>Пополняйте удобным для вас способом</span></div>
    <div class="modal-content">
        <p style="color:#f51c7e; font-size:11px;">Нажимая кнопку "Пополнить баланс", вы принимаете Пользовательское соглашение.</p>
        <form action="{{ getUrl() }}" method="POST" class="balance" ngNoForm>
            <input type="hidden" name="type" value="free-kassa" />
            <div class="form-row">
                <input type="text" name="amount" value="100" placeholder="100" />
            </div>
            <div class="center">
                <button type="submit" class="form-button form-button-new"></button>
            </div>
        </form>
    </div>
</div>