<div class="container">
    <div class="c-title">РЕФЕРАЛЬНАЯ <b style="color:#2bec98;">система</b></div>
    <div class="ref-bg">
        <p class="titles">ЧТО ТАКОЕ РЕФЕРАЛЬНАЯ СИСТЕМА?</p>
        <p>Реферальная система это возможность приглашать других людей через специальную реферальную ссылку, которая указана у Вас в личном кабинете.</p>
        <p>За каждого зарегестрированного по Вашей реферальной ссылке человека вы будете получать процент! Каждый раз когда Ваш друг пополняет баланс, Вам будет зачислятся процент!</p>
        <p>Можно вообще не играть на сайте, а только приглашать друзей и иметь хороший пассивных доход!</p>
        <p>Делитесь ссылкой с друзьями, знакомыми и получайте легкие деньги!</p>
    </div>
    <div class="ref-list">
        <div class="ref-list-i">
            <div class="ref-list-num">1</div>
            <div class="hidden">
                <div class="ref-list-name">ПРОЦЕНТЫ ОТ ПОПОЛНЕНИЯ РЕФЕРАЛОВ</div>
                <div class="ref-list-text">После того как вы пригласите человека по вашей уникальной ссылке, он становится вашим рефералом. Если данный человек будет пополнять баланс на сайте, вы будете получать по 5% от суммы пополнения его счёта.</div>
            </div>
        </div>
        <div class="ref-list-i">
            <div class="ref-list-num">2</div>
            <div class="hidden">
                <div class="ref-list-name">БОЛЬШОЙ ДОХОД</div>
                <div class="ref-list-text">Пригласив много друзей, которые зарегестрируются по вашей реферальной ссылке, вы сможете получать больше чем <br /> открывая паки!</div>
            </div>
        </div>
    </div>
    <div class="s-title"><ul><li>ВАША РЕФЕРАЛЬНАЯ ССЫЛКА<li></ul></div>
    <div class="ref-bg">
        <div class="ref-i">
            <div class="ref-text">Ваша реферральная ссылка:</div>
            <div class="ref-url"><input type="text" value="{{ getRefLink() }}" /></div>
        </div>
        <div class="ref-i">
            <div class="ref-text">По вашей ссылке зарегистрировались:</div>
            <div class="ref-num">{{ userService.referralsCount }}</div>
        </div>
    </div>
</div>