<h4>Добавление нового предмета</h4>
<hr />

<table>
    <tbody>
    <tr>
        <td>
            <p>Название предмета</p>
        </td>
        <td>
            <input type="text"
                   placeholder="Введите название предмета..."
                   [value]="newItem.name"
                   (input)="newItem.name = $event.target.value"
            />
        </td>
    </tr>
    <tr>
        <td>
            <p>Его стоимость</p>
        </td>
        <td>
            <input type="number"
                   placeholder="Введите стоимость предмета..."
                   [value]="newItem.price"
                   (input)="newItem.price = $event.target.value"
            />
        </td>
    </tr>
    <tr>
        <td>
            <p>Изображение</p>
        </td>
        <td>
            <input type="file"
                   placeholder="Выберите изображение..."
                   (change)="parseImg($event)"
            />
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <button type="button" (click)="addItem()">Добавить</button>
        </td>
    </tr>
    </tbody>
</table>