<h4>Добавление нового кейса</h4>
<hr />

<table>
    <tbody>
        <tr>
            <td>
                <p>Название кейса</p>
            </td>
            <td>
                <input type="text"
                       placeholder="Введите название кейса..."
                       [value]="newBox.name"
                       (input)="newBox.name = $event.target.value"
                />
            </td>
        </tr>

        <tr>
            <td>
                <p>Цена кейса</p>
            </td>
            <td>
                <input type="number"
                       placeholder="Введите цену..."
                       [value]="newBox.price"
                       (input)="newBox.price = $event.target.value"
                />
            </td>
        </tr>

        <tr>
            <td>
                <p>Позиция кейса (от 0 и выше)</p>
            </td>
            <td>
                <input type="number"
                       placeholder="Введите позицию..."
                       [value]="newBox.pos"
                       (input)="newBox.pos = $event.target.value"
                />
            </td>
        </tr>

        <tr>
            <td>
                <p>Активен?</p>
            </td>
            <td>
                <mat-checkbox [checked]="newBox.is_enabled"
                              (change)="newBox.is_enabled = !newBox.is_enabled;"></mat-checkbox>
            </td>
        </tr>

        <tr>
            <td>
                <p>Кейс приоритетный?</p>
            </td>
            <td>
                <mat-checkbox [checked]="newBox.is_priority"
                              (change)="newBox.is_priority = !newBox.is_priority;"></mat-checkbox>
            </td>
        </tr>

        <tr>
            <td>
                <p>Секция</p>
            </td>
            <td>
                <mat-select placeholder="Выберите секцию..." [(ngModel)]="newBox.section_id">
                    <mat-option *ngFor="let section of sectionsService.sectionsList" [value]="section.id">
                        {{ section.name }}
                    </mat-option>
                </mat-select>
            </td>
        </tr>

        <tr>
            <td>
                <p>Цвет кейса</p>
            </td>
            <td>
                <mat-select placeholder="Выберите цвет..." [(ngModel)]="newBox.color_num">
                    <mat-option [value]="0">Фиолетовый</mat-option>
                    <mat-option [value]="1">Желтый</mat-option>
                    <mat-option [value]="2">Оранжевый</mat-option>
                    <mat-option [value]="3">Зеленый</mat-option>
                    <mat-option [value]="4">Золотистый</mat-option>
                    <mat-option [value]="5">Синий</mat-option>
                    <mat-option [value]="6">Розовый</mat-option>
                    <mat-option [value]="7">Серый</mat-option>
                    <mat-option [value]="8">Красный</mat-option>
                </mat-select>
            </td>
        </tr>

        <tr>
            <td>
                <p>Цвет рамки кейса и предметов</p>
            </td>
            <td>
                <input type="color"
                       [value]="newBox.border_color"
                       (input)="newBox.border_color = $event.target.value"
                />
            </td>
        </tr>

        <tr>
            <td>
                <p>Изображение кейса</p>
            </td>
            <td>
                <input type="file"
                       placeholder="Выберите изображение..."
                       (change)="parseImg($event)"
                />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button type="button" (click)="addBox()">Добавить</button>
            </td>
        </tr>
    </tbody>
</table>