<h1 mat-dialog-title>Просмотр адрес пользователя</h1>
<div mat-dialog-content>
    <table>
        <tbody>
            <tr>
                <td><p>Имя:</p></td>
                <td><p>{{ data.address.name }}</p></td>
            </tr>
            <tr>
                <td><p>Страна:</p></td>
                <td><p>{{ data.address.country }}</p></td>
            </tr>
            <tr>
                <td><p>Регион:</p></td>
                <td><p>{{ data.address.region }}</p></td>
            </tr>
            <tr>
                <td><p>Город:</p></td>
                <td><p>{{ data.address.city }}</p></td>
            </tr>
            <tr>
                <td><p>Адрес:</p></td>
                <td><p>{{ data.address.address }}</p></td>
            </tr>
            <tr *ngIf="data.address.has_post_index">
                <td><p>Почтовый индекс:</p></td>
                <td><p>{{ data.address.post_index }}</p></td>
            </tr>
            <tr>
                <td><p>Телефон:</p></td>
                <td><p>{{ data.address.phone }}</p></td>
            </tr>
            <tr>
                <td><p>Доп. Информация:</p></td>
                <td><p>{{ data.address.additional_info }}</p></td>
            </tr>
        </tbody>
    </table>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Закрыть</button>
</div>
