<h4>Добавление нового изображения</h4>
<hr />

<table>
    <tbody>
        <tr>
            <td>
                <p>Изображение</p>
            </td>
            <td>
                <input type="file" (change)="parseImg($event)" />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button (click)="addImage()">Добавить</button>
            </td>
        </tr>
    </tbody>
</table>