<h1 mat-dialog-title>Просмотр комментария</h1>
<div mat-dialog-content>
    <p>Комментарий к заказу</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.comment">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Отмена</button>
    <button mat-button [mat-dialog-close]="data.comment" cdkFocusInitial>Сохранить</button>
</div>
