a {
    cursor: pointer;
}

.viewn {
    width: 1200px;
}

.text-center {
    text-align: center;
}
.item_name, .item_status {
    display: block;

    font: 12px "PT Sans";
    color: white;

    width: 100%;
    height: 30px;

    position: absolute;
    z-index: 2;
    line-height: 30px;

    overflow: hidden;
    margin-top: 90px;
}
.item_status {
    margin-top: 0;
}
.rul-prize img {
    max-width: 70px;
    max-height: 80px;
    left: 10px;
    top: -5px;
}

#user_drops_paginate /deep/ .ngx-pagination a,
#user_drops_paginate /deep/ .ngx-pagination button,
#user_payouts_paginate /deep/ .ngx-pagination a,
#user_payouts_paginate /deep/ .ngx-pagination button {
    color: #cacaca;
}

#user_drops_paginate /deep/ .ngx-pagination,
#user_payouts_paginate /deep/ .ngx-pagination {
    font: 18px "PT Sans";
}

/deep/.mat-tab-label {
    color: #f6b434;
    opacity: .8;
}
/deep/ .mat-tab-body-wrapper {
    width: 1200px;
}
/deep/ .mat-tab-header {
    border-bottom: 3px solid #202127;
}
/deep/ .mat-tab-group.mat-primary .mat-ink-bar,
/deep/ .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #f6b434;
    height: 3px;
}
/deep/ .mat-tab-group {
    margin-top: 20px;
}
/deep/ .mat-tab-body-content {
    overflow: hidden !important;
}

table {
    width: 1100px;
}
table tr {
    width: 100%;
}
table tr td, table tr th {
    width: auto;
    line-height: 50px;

    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

table img {
    background-color: #1d1e24;
    border-radius: 10px;

    padding: 10px;
    height: 50px;
    width: 50px;
}