<div class="container">
    <div class="c-title">Личный <b style="color:#2bec98;">кабинет</b></div>
    <div class="profile-loop">
        <div class="profile-ava">
            <a href="https://vk.com/id{{ userService.user.vk_id }}" target="_blank">
                <img src="{{ userService.user.avatar }}" alt="" />
            </a>
        </div>
        <div class="hidden">
            <div class="profile-button">
                <a (click)="showPromoCodeModal()"></a>
                <a (click)="showAddressModal()"></a>
            </div>
            <div class="profile-login">
                <em>{{ userService.user.name }}</em>
                <a [href]="getLogOutPath()">Выход с сайта</a>
            </div>
            <div class="profile-info">Кейсы: <b>{{ userService.gamesPlayed }}</b></div>
            <div class="profile-info">Выигрыш: <b>{{ userService.userProfit }} р</b></div>
            <div class="profile-info">Баланс: <b>{{ userService.user.balance }} р</b></div>
        </div>
    </div>
    <mat-tab-group>
        <mat-tab label="Мои призы">
            <div class="s-title"><ul><li>ИСТОРИЯ ВАШИХ ПРИЗОВ<li></ul></div>
            <ul class="viewn">
                <li *ngFor="let x of userService.userDrops |
                    paginate: {
                        id: 'user_drops_paginate',
                        itemsPerPage: 24,
                        currentPage: dropsPage
                    }"
                    class="rul" [ngStyle]="possibleToClick(x) ? {'cursor' : 'pointer'} : {'cursor' : 'normal'}"
                    (click)="dropClicked(x)"
                >
            <span class="rul-prize">
                <img [src]="getItemImg(x.item)" alt="" />
            </span>

                    <span class="item_status" *ngIf="x.status == 'Unchecked'" style="color: #f6b434;">Нажмите для решения</span>
                    <span class="item_status" *ngIf="x.status == 'Sold'" style="color: #f6b434;">Продан</span>
                    <span class="item_status" *ngIf="x.status == 'Waiting'" style="color: #f6b434;">Ожидает проверки</span>
                    <span class="item_status" *ngIf="x.status == 'Collecting'" style="color: #f6eb2d;">Ожидает отправки</span>
                    <span class="item_status" *ngIf="x.status == 'Sent'" style="color: #2bec98">Отправлен</span>

                    <span class="item_name">{{ x.item.name }}</span>
                </li>
            </ul>

            <div class="text-center">
                <pagination-controls id="user_drops_paginate"
                                     (pageChange)="dropsPage = $event"
                                     previousLabel="Предыдущие"
                                     nextLabel="Следующие"
                ></pagination-controls>
            </div>
        </mat-tab>
        <mat-tab label="Мои заказы">
            <div class="s-title"><ul><li>ИСТОРИЯ ВАШИХ ЗАКАЗОВ<li></ul></div>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Товар</th>
                        <th>Статус</th>
                        <th>Трек-номер</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of userService.userDrops | onlyPayout |
                                paginate: {
                                    id: 'user_payouts_paginate',
                                    itemsPerPage: 15,
                                    currentPage: payoutsPage
                                }
                    ">
                        <td>
                            <img [src]="getItemImg(x.item)" />
                        </td>
                        <td>{{ x.item.name }}</td>
                        <td>
                            <p *ngIf="x.status == 'Waiting'" style="color: #f6b434;">Ожидает проверки</p>
                            <p *ngIf="x.status == 'Collecting'" style="color: #f6eb2d;">Ожидает отправки</p>
                            <p *ngIf="x.status == 'Sent'" style="color: #2bec98">Отправлен</p>
                        </td>
                        <td>
                            {{ x.track_code }}
                        </td>
                        <td>
                            {{ x.created_at }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center">
                <pagination-controls id="user_payouts_paginate"
                                     (pageChange)="payoutsPage = $event"
                                     previousLabel="Предыдущие"
                                     nextLabel="Следующие"
                ></pagination-controls>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>