<div class="modal" style="width:344px;">
    <div class="modal-close arcticmodal-close" (click)="modalsService.hideAll()"></div>
    <div class="modal-title">
        ИНФОРМАЦИЯ <b style="color:#f6b434;">о предмете</b>
        <span>Информация о почтовом отправлении с предметом</span>
    </div>
    <div class="modal-content">
        <p style="color:#f51c7e; font-size:11px;">Ваш трек номер:</p>
        <div class="form-row">
            <input type="text" [(ngModel)]="gameService.prize.track_code" readonly />
        </div>
    </div>
</div>