<mat-tab-group>
    <mat-tab label="Ожидающие заказы">
        <app-admin-waiting-payouts></app-admin-waiting-payouts>
    </mat-tab>

    <mat-tab label="Заказы на обработке">
        <app-admin-collecting-payouts></app-admin-collecting-payouts>
    </mat-tab>

    <mat-tab label="Отправленные заказы">
        <app-admin-sent-payouts></app-admin-sent-payouts>
    </mat-tab>
</mat-tab-group>