.admin_menu {
    width: 15%;
    height: 100%;
    min-height: 100%;

    display: block;

    background: #2d2e32;
    position: absolute;

    padding-top: 51px;
}

.admin_menu .menu_elem {
    width: 100%;
    height: 40px;

    display: block;
    background-color: #2d2e32;

    color: white;
    text-align: center;
    font: 16px "PT Sans";

    padding-top: 25px;
    transition: .4s;
}
.admin_menu .menu_elem:hover {
    background-color: #ddd;
    color: black;
}
.admin_menu .menu_elem.selected {
    background-color: #3b7fae;
    color: #fff;
}
.admin_menu .menu_elem.selected:hover {
    background-color: #3b7fae;
}