<div class="admin_menu">
    <a class="menu_elem" routerLink="/admin" [ngClass]="{'selected' : router.url == '/admin'}">Статистика</a>
    <a class="menu_elem" routerLink="/admin/users" [ngClass]="{'selected' : router.url == '/admin/users'}">Пользователи</a>
    <a class="menu_elem" routerLink="/admin/items" [ngClass]="{'selected' : router.url == '/admin/items'}">Предметы</a>
    <a class="menu_elem" routerLink="/admin/cases" [ngClass]="{'selected' : router.url == '/admin/cases'}">Кейсы</a>
    <a class="menu_elem" routerLink="/admin/payouts" [ngClass]="{'selected' : router.url == '/admin/payouts'}">Выводы</a>
    <a class="menu_elem" routerLink="/admin/promo_codes" [ngClass]="{'selected' : router.url == '/admin/promo_codes'}">Промо-коды</a>
    <a class="menu_elem" routerLink="/admin/promo_offers" [ngClass]="{'selected' : router.url == '/admin/promo_offers'}">Промо-акции</a>
</div>
