.wrapper {
    position: absolute;

    width: 85%;
    height: auto;
    min-height: 100%;

    display: block;
    left: 15%;
    top: 50px;

    padding: 20px;
    background: #fff;
    color: black;
}