<h4>Добавление предмета для возможности выбора</h4>
<hr />

<table>
    <tbody>
        <tr>
            <td>
                <p>Предмет</p>
            </td>
            <td>
                <mat-select placeholder="Выберите предмет..." [(ngModel)]="newItem.item">
                    <mat-option *ngFor="let item of itemsService.itemsList" [value]="item">
                        {{ item.name }} - {{ item.price }} руб.
                    </mat-option>
                </mat-select>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button (click)="addItem()">Добавить</button>
            </td>
        </tr>
    </tbody>
</table>