<div class="arcticmodal-overlay" *ngIf="!modalsService.isHiddenAll()">
    <div class="arcticmodal-container arcticmodal-container_i2">
        <app-modal-donate *ngIf="modalsService.isDonateModal()"></app-modal-donate>
        <app-modal-address *ngIf="modalsService.isAddressModal()"></app-modal-address>
        <app-modal-promo-code *ngIf="modalsService.isPromoCodeModal()"></app-modal-promo-code>
        <app-modal-prize *ngIf="modalsService.isPrizeModal()"></app-modal-prize>
        <app-modal-track-code *ngIf="modalsService.isTrackCodeModal()"></app-modal-track-code>
    </div>
</div>

<app-master-layout *ngIf="isMasterLayout()"></app-master-layout>
<app-admin-layout  *ngIf="!isMasterLayout()"></app-admin-layout>