<div class="stats">
    <div>ONLINE <b id="user-online">{{ statService.online }}</b></div>
    <div>ПОЛЬЗОВАТЕЛЕЙ <b id="user-count">{{ statService.totalUsers }}</b></div>
    <div>ОТКРЫТО КЕЙСОВ <b id="game-count">{{ statService.gamesPlayed }}</b></div>
</div>