<h4>Список заказов на сборке</h4>
<hr />

<table>
    <thead>
        <tr>
            <th>Предмет</th>
            <th>Пользователь</th>
            <th>Дата</th>
            <th style="width: 30%;"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of payoutsService.collectingDrops |
                    paginate: {id: 'collecting-payouts', itemsPerPage: 10, currentPage: page}
        ">
            <td>
                <p>{{ x.item.name }}</p>
            </td>
            <td>
                <a href="https://vk.com/id{{ x.user.vk_id }}" target="_blank">{{ x.user.name }}</a>
            </td>
            <td>
                <p>{{ x.created_at }}</p>
            </td>
            <td>
                <button type="button" (click)="showAddress(x.user)">Адрес</button>
                <button type="button" (click)="commentClicked(x)">Комментарий</button>
                <button type="button" (click)="sendDrop(x)">Отправлено</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls id="collecting-payouts" (pageChange)="page = $event"></pagination-controls>
</div>
