<h4>Список промо-акций</h4>
<hr />

<table>
    <thead>
        <tr>
            <th></th>
            <th>Заголовок</th>
            <th style="width: 15%">Позиция</th>
            <th style="width: 30%;"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let offer of promoService.offersList |
                    paginate: {itemsPerPage: 10, currentPage: page}
                ">
            <td>
                <img src="{{ getImgUrl(offer) }}" width="50px" height="50px" />
            </td>
            <td>
                <p>{{ offer.title }}</p>
            </td>
            <td>
                <p>{{ offer.pos }}</p>
            </td>
            <td>
                <button type="button" (click)="selectOffer(offer)">Изменить</button>
                <button type="button" (click)="promoService.deleteOffer(offer)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>