.top_bar {
    position: absolute;

    width: 100%;
    height: 50px;
    min-height: 50px;

    display: block;

    background: #3b7fce;
    border-bottom: 1px #888 solid;
}

.top_bar .logo_adm {
    width: 15%;
    height: 50px;

    text-align: center;
    padding-top: 15px;

    font-size: 18px;
    color: #fff;
}