<div class="container">
    <div class="c-title">F.A.Q <b style="color:#2bec98;">гарантии</b></div>
    <div class="garant">
        <div class="garant-i">
            <div class="garant-name">БЕЗОПАСНО</div>
            <div class="garant-text">Мы используем 256 битный сертификат, который защищает ваши транзакции и авторизации на сайте.</div>
        </div>
        <div class="garant-i">
            <div class="garant-name">ЧЕСТНО</div>
            <div class="garant-text">Система основана на билетном алгоритме, выбор выигрыша просходит через программный код, встроенный в структуру данного сетевого ресурса.</div>
        </div>
        <div class="garant-i">
            <div class="garant-name">ДОСТАВКА</div>
            <div class="garant-text">Наша доставка товаров является полностью бесплатной и распространяется на все регионы России и других стран СНГ.</div>
        </div>
    </div>
    <div class="s-title"><ul><li>ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ<li></ul></div>
    <div class="faq-loop">
        <div class="faq-i" (click)="itemClicked(0)">
            <div class="faq-name">Что из себя представляет Lifedrop?</div>
            <div class="faq-mess" [ngStyle]="{ 'display' : flags[0] ? 'block' : 'none' }">
                Lifedrop – это интернет магазин с возможностью приобретения реальных товаров из прилагаемых кейсов на сайте.
            </div>
        </div>
        <div class="faq-i" (click)="itemClicked(1)">
            <div class="faq-name">Товары на сайте являются настоящими или визуальными?</div>
            <div class="faq-mess" [ngStyle]="{ 'display' : flags[1] ? 'block' : 'none' }">
                Все представленные товары в нашем Интернет-Магазине являются реальными вещами.
            </div>
        </div>
        <div class="faq-i" (click)="itemClicked(2)">
            <div class="faq-name">Нужно ли мне платить за доставку?</div>
            <div class="faq-mess" [ngStyle]="{ 'display' : flags[2] ? 'block' : 'none' }">
                Нет, доставка является полностью бесплатной!
            </div>
        </div>
        <div class="faq-i" (click)="itemClicked(3)">
            <div class="faq-name">Куда вы сможете доставить товары?</div>
            <div class="faq-mess" [ngStyle]="{ 'display' : flags[3] ? 'block' : 'none' }">
                Мы осуществляем доставку на территории России и других стран СНГ.
            </div>
        </div>
        <div class="faq-i" (click)="itemClicked(4)">
            <div class="faq-name">Смогу ли я отслеживать заказанные мной товары?</div>
            <div class="faq-mess" [ngStyle]="{ 'display' : flags[4] ? 'block' : 'none' }">
                Да, в вашем личном кабинете в разделе «Мои Доставки» вы сможете отслеживать свой товар через приложенный к нему Трек-Номер
            </div>
        </div>
        <div class="faq-i" (click)="itemClicked(5)">
            <div class="faq-name">Через какое время придет мой товар?</div>
            <div class="faq-mess" [ngStyle]="{ 'display' : flags[5] ? 'block' : 'none' }">
                Доставка товаров производится в среднем от 20 до 60 дней
            </div>
        </div>
        <div class="faq-i" (click)="itemClicked(6)">
            <div class="faq-name">Можно ввести несколько промокодов?</div>
            <div class="faq-mess" [ngStyle]="{ 'display' : flags[6] ? 'block' : 'none' }">
                Да, вы можете вводить неограниченное количество имеющихся промокодов.
            </div>
        </div>
        <div class="faq-i" (click)="itemClicked(7)">
            <div class="faq-name">Куда можно ввести промокоды?</div>
            <div class="faq-mess" [ngStyle]="{ 'display' : flags[7] ? 'block' : 'none' }">
                Чтобы активировать промокод, вам нужно перейти в <a href="#">свой профиль</a>
            </div>
        </div>
        <div class="faq-i" (click)="itemClicked(8)">
            <div class="faq-name">У меня появилась проблема, как мне ее решить?</div>
            <div class="faq-mess" [ngStyle]="{ 'display' : flags[8] ? 'block' : 'none' }">
                Вам нужно обратиться в нашу техническую поддержку по адресу группы вконтакте: <a href="https://vk.com/lifedrops" target="_blank">https://vk.com/lifedrops</a>
            </div>
        </div>
    </div>
</div>