input[type="text"] {
    width: 200px;
}

.activate_btn {
    background: url(/assets/images/activate_btn.png) no-repeat 0 0;
}
.activate_btn:before {
    background:url(/assets/images/activate_btn.png) no-repeat 0 -44px;
}