<div class="modal" style="width:344px;">
    <div class="modal-close arcticmodal-close" (click)="modalsService.hideAll()"></div>
    <div class="modal-title">
        АКТИВАЦИЯ <b style="color:#f6b434;">промо-кода</b>
        <span>Получайте бонусы при помощи промо-кодов</span>
    </div>
    <div class="modal-content">
        <p style="color:#f51c7e; font-size:11px;">Помните, что вы можете активировать промо-код лишь единожды.</p>
        <div class="form-row">
            <input type="text" [(ngModel)]="promoCode" placeholder="Введите промо-код..." />
        </div>
        <p style="color:red; font-size:11px;"   *ngIf="activateFailed">Данный промо-код уже активирован, либо введен неправильно</p>
        <p style="color:green; font-size:11px;" *ngIf="activatedSuccess">Промо-код успешно активирован</p>
        <div class="center">
            <button type="submit" class="form-button activate_btn" (click)="activatePromo()"></button>
        </div>
    </div>
</div>