<div class="topuser">
    <div *ngFor="let x of statisticService.topUsers" class="topuser-i">
        <div class="topuser-ava">
            <a routerLink="/profile/{{ x.user_id }}">
                <img [src]="x.user.avatar" alt="" />
            </a>
        </div>
        <div class="topuser-col"><span>{{ x.games }}</span></div>
        <div class="topuser-rub">{{ x.profit }} РУБ.</div>
    </div>
</div>