p {
    color: red;
    font: 14px "PT Sans";
    text-align: center;
}

h1 {
    text-align: center;
}

button {
    background-color: white;
    border: 1px black solid;
    color: black !important;
}