<div class="modal" style="width:344px;">
    <div class="modal-close arcticmodal-close" (click)="modalsService.hideAll()"></div>
    <div class="modal-title">Вы выиграли <b style="color:#f6b434;">{{ gameService.prize.item.name }}</b> <span>Поздравляем вы выиграли</span></div>
    <div class="modal-content">
        <div class="form">
            <ul class="viewn modal-win">
                <li class="rul">
                    <span class="rul-images"><img [src]="getImg(gameService.prize.item)" alt="" /></span>
                </li>
            </ul>
            <div class="win-button">
                <a (click)="sellItem()" id="sell_item">Продать <span>(за <span class="sp_value">{{ gameService.prize.item.price }}</span> руб.)</span></a>
                <a (click)="takeItem()" id="take_item">Забрать</a>
            </div>
        </div>
    </div>
</div>