<h4>Статистика по платежам</h4>
<hr />

<table>
    <thead>
        <tr>
            <th>Сумма</th>
            <th>Дата</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let payment of payments |
                    paginate: {id: 'user-payment-history', itemsPerPage: 10, currentPage: page}
        ">
            <td><p>{{ payment.amount }}</p></td>
            <td><p>{{ payment.created_at }}</p></td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls id="user-payment-history" (pageChange)="page = $event"></pagination-controls>
</div>
