<h4>Информация о {{ item.name }}</h4>
<hr />

<table>
    <tbody>
        <tr>
            <td>
                <p>Имя:</p>
            </td>
            <td>
                <input type="text"
                       [value]="item.name"
                       (input)="item.name = $event.target.value" />
            </td>
        </tr>

        <tr>
            <td>
                <p>Цена:</p>
            </td>
            <td>
                <input type="number"
                       [value]="item.price"
                       (input)="item.price = $event.target.value" />
            </td>
        </tr>

        <tr>
            <td>
                <p>Изображение</p>
            </td>
            <td>
                <input type="file"
                       placeholder="Выберите изображение..."
                       (change)="parseImg($event)"
                />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button (click)="saveItem()">Сохранить</button>
                <button (click)="returnBack()">Назад</button>
            </td>
        </tr>
    </tbody>
</table>