<div class="modal" style="width:344px;">
    <div class="modal-close arcticmodal-close" (click)="modalsService.hideAll()"></div>
    <div class="modal-title">
        ЗАПОЛНЕНИЕ <b style="color:#f6b434;">адреса доставки</b>
        <span>Заполните один раз ваш адрес доставки</span>
    </div>
    <div class="modal-content">
        <p style="color:#f51c7e; font-size:11px;">Внимание! Адрес должен быть заполнен английскими буквами.</p>
        <div class="form-row">
            <input type="text" placeholder="Фамилия Имя Отчество" [(ngModel)]="userService.userAddress.name" />
            <input type="text" placeholder="Страна получателя" [(ngModel)]="userService.userAddress.country" />
        </div>
        <div class="form-row">
            <input type="text" placeholder="Область / Регион" [(ngModel)]="userService.userAddress.region" />
            <input type="text" placeholder="Город" [(ngModel)]="userService.userAddress.city" />
        </div>
        <div class="form-row">
            <input type="text" placeholder="Индекс" [(ngModel)]="userService.userAddress.post_index" />
            <input type="text" placeholder="Улица, дом, квартира" [(ngModel)]="userService.userAddress.address" />
        </div>
        <div class="form-row">
            <input type="text" placeholder="Телефон" [(ngModel)]="userService.userAddress.phone" />
            <input type="text" placeholder="Дополнительная информация" [(ngModel)]="userService.userAddress.additional_info" />
        </div>
        <div class="form-row" style="height: 40px;">
            <p style="color:#ff0000; font-size:14px; margin-top: 15px;" *ngIf="isFailed">{{ errMsg }}</p>
            <p style="color:#00ff00; font-size:14px; margin-top: 15px;" *ngIf="isSuccess">Ваш адрес успешно сохранен</p>
        </div>

        <div class="center">
            <button type="submit" class="form-button save_btn" (click)="updateAddress()"></button>
        </div>
    </div>
</div>

<div class="address_sample"></div>