input[type="text"] {
    display: block;
    margin-top: 10px;
    width: 100%;
}

.bottom_index {
    margin-bottom: 20px;
}

.save_btn {
    background: url(/assets/images/save_btn.png) no-repeat 0 0;
}
.save_btn:before {
    background:url(/assets/images/save_btn.png) no-repeat 0 -44px;
}

.modal {
    transform: translateX(-100%) translateY(-50%);
}
.address_sample {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translateX(20px) translateY(-50%);

    background-image: url(/assets/images/address_sample.jpg);
    display: block;

    width: 378px;
    height: 775px;
}