/*	URL: lsart.ru	*/

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family:uni_sans_heavy;
    src:url(/assets/ttf/uni_sans_heavy.ttf);
}

@font-face {
    font-family:uni_sans_heavy_italic;
    src:url(/assets/ttf/uni_sans_heavy_italic.ttf);
}

@font-face {
    font-family:uni_sans_thin;
    src:url(/assets/ttf/uni_sans_thin.ttf);
}

@font-face {
    font-family:uni_sans_thin_italic;
    src:url(/assets/ttf/uni_sans_thin_italic.ttf);
}

::-webkit-input-placeholder {
    color:#fff;
}

::-moz-placeholder   {
    color:#fff;
}

:-moz-placeholder  {
    color:#fff;
}

:-ms-input-placeholder {
    color:#fff;
}

input, button, textarea {
    background:0;
    border:0;
    outline:0;
    box-sizing:border-box;
    font-family:PT Sans, sans-serif;
    font-size:13px;
    resize:none;
    color:#fff;
}

* {
    padding:0;
    margin:0;
    outline:0;
}

html, body {
    background:url(/assets/images/bg.png) repeat;
    background-color:#16171b;
    min-width:1200px;
    font-family:uni_sans_heavy;
    font-size:12px;
    color:#fff;
}

a {
    color:#fff;
    text-decoration:none;
}

ul, li {
    display:block;
    padding:0;
    margin:0;
    list-style:none;
}

em {
    font-style:normal;
}

b {
    font-family:uni_sans_heavy;
}

.left {
    float:left;
}

.right {
    float:right;
}

.center {
    text-align:center;
}

.hidden {
    overflow:hidden;
}

.clear {
    clear:both;
}

.ell {
    white-space:nowrap;
    text-overflow:ellipsis;
}

:before {
    opacity:0;
}

:hover:before {
    opacity:1;
}

.wrapper a, :before, button[type="submit"], input[type="submit"] {
    transition:all 0.5s ease;
}

.wrapper {
    width:1101px;
    margin:0 auto;
    position:relative;
}

.header {
    margin:27px 0 32px 0;
    height:186px;
    position:relative;
}

.logo {
    background:url(/assets/images/logo.png) no-repeat 0 0;
    background-size: contain;
    width:145px;
    height:90px;
    position:absolute;
    top:8px;
}

.prize {
    background:url(/assets/images/prize2.png) no-repeat 0 0;
    width:922px;
    height:104px;
    position:absolute;
    top:0;
    right:0;
}

.prize a:before {
    background:url(/assets/images/prize-btn2.png) no-repeat 0 0;
    width:145px;
    height:65px;
    position:absolute;
    top:0;
    left:0;
    content:'';
}

.prize a {
    background:url(/assets/images/prize-btn.png) no-repeat 0 0;
    width:145px;
    height:65px;
    position:absolute;
    top:20px;
    right:20px;
}

.stats {
    position:absolute;
    bottom:0;
    left:0;
    height:54px;
}

.stats b {
    display:block;
    color:#2bec98;
    font-size:12px;
}

.stats div {
    float:left;
    height:54px;
    padding:12px 15px 0 15px;
    background:#1d1e24;
    border-radius:8px;
    margin:0 15px 0 0;
    line-height:16px;
    font-size:11px;
    box-sizing:border-box;
}

.nav {
    position:absolute;
    height:40px;
    bottom:6px;
    left:423px;
}

.nav a:nth-child(3) {
    background:url(/assets/images/nav.png) no-repeat 0 0;
    width:143px;
}

.nav a:nth-child(1) {
    background:url(/assets/images/nav.png) no-repeat -157px 0;
    width:78px;
}

.nav a:nth-child(2) {
    background:url(/assets/images/nav.png) no-repeat right 0;
    width:154px;
}

.nav a:nth-child(3):before {
    background:url(/assets/images/nav.png) no-repeat 0 bottom;
}

.nav a:nth-child(1):before {
    background:url(/assets/images/nav.png) no-repeat -157px bottom;
}

.nav a:nth-child(2):before {
    background:url(/assets/images/nav.png) no-repeat right bottom;
}

.nav a:before {
    width:100%;
    height:40px;
    position:absolute;
    top:0;
    left:0;
    content:'';
}

.nav a {
    display:block;
    float:left;
    height:40px;
    margin:0 14px 0 0;
    position:relative;
}

.login:before {
    background:#16171b url(/assets/images/login.png) no-repeat 0 -48px;
    width:179px;
    height:48px;
    position:absolute;
    top:0;
    left:0;
    content:'';
}

.login {
    background:url(/assets/images/login.png) no-repeat 0 0;
    width:179px;
    height:48px;
    position:absolute;
    bottom:4px;
    right:0;
}

.mini-profile {
    position:absolute;
    bottom:-14px;
    right:0;
    width:220px;
    height:78px;
}

.mini-profile-ava {
    background:url(/assets/images/mini-profile-ava.png) no-repeat 0 0;
    width:67px;
    height:67px;
    float:left;
    position:relative;
    margin:0 10px 0 0;
}

.mini-profile-ava img {
    width:51px;
    height:51px;
    border-radius:50%;
    position:absolute;
    top:8px;
    left:8px;
}

.mini-profile-content {
    padding:12px 0 0 0;
    height:78px;
    float:left;
}

.mini-profile-login {
    overflow:hidden;
    color:#2bec98;
    margin:0 0 6px 0;
}

.mini-profile-login b {
    color:#fff;
}

.mini-profile-balance {
    float:left;
    position:relative;
    height:23px;
    line-height:24px;
}

.mini-profile-balance b {
    color:#f6b434;
}

.mini-profile-button {
    width:74px;
    height:46px;
    position:absolute;
    top:-12px;
    right:-70px;
}

.mini-profile-button a:before {
    width:46px;
    height:46px;
    position:absolute;
    top:0;
    left:0;
    content:'';
}

.mini-profile-button a {
    width:46px;
    height:46px;
    position:absolute;
}

.mini-profile-button .plus {
    background:url(/assets/images/plus.png) no-repeat 0 0;
    top:0;
    left:0;
}

.mini-profile-button .minus {
    background:url(/assets/images/minus.png) no-repeat 0 0;
    top:0;
    right:0;
}

.mini-profile-button .plus:before {
    background:url(/assets/images/plus2.png) no-repeat 0 0;
}

.mini-profile-button .minus:before {
    background:url(/assets/images/minus2.png) no-repeat 0 0;
}

.live {
    background:url(/assets/images/live.png) no-repeat 0 0;
    width:1100px;
    height:116px;
    overflow:hidden;
    box-sizing:border-box;
    padding:0 30px 0 55px;
}

.live-1 {
    background:url(/assets/images/live/1.png) no-repeat 0 0;
}

.live-2 {
    background:url(/assets/images/live/2.png) no-repeat 0 0;
}

.live-3 {
    background:url(/assets/images/live/3.png) no-repeat 0 0;
}

.live-4 {
    background:url(/assets/images/live/4.png) no-repeat 0 0;
}

.live-5 {
    background:url(/assets/images/live/5.png) no-repeat 0 0;
}

.live-i {
    width:130px;
    height:129px;
    line-height:130px;
    text-align:center;
    float:left;
    position:relative;
    top:-5px;
    margin:0 -30px 0 0;
    color:#fff;
    font-size:18px;
}

.case-loop {
    overflow:hidden;
    margin:35px 0 0 0;
}

.case-i:nth-child(4n) {
    margin:0;
}

.case-1 {
    background:url(/assets/images/case/1.png) no-repeat 0 0;
}

.case-2 {
    background:url(/assets/images/case/2.png) no-repeat 0 0;
}

.case-3 {
    background:url(/assets/images/case/3.png) no-repeat 0 0;
}

.case-4 {
    background:url(/assets/images/case/4.png) no-repeat 0 0;
}

.case-5 {
    background:url(/assets/images/case/5.png) no-repeat 0 0;
}

.case-i.case-test:after {
    background:url(/assets/images/test.png) no-repeat 0 0;
    width:93px;
    height:77px;
    position:absolute;
    top:78px;
    left:50px;
    content:'';
    z-index:5;
}

.case-5 .case-i-name b {
    color:#6e7078;
}

.case-i.case-test .case-i-name b,
.case-i.case-test .case-i-rub {
    color:#2bec98;
}

.case-i {
    width:252px;
    height:300px;
    float:left;
    margin:0 30px 32px 0;
    position:relative;
}

.case-i-left {
    float:left;
    padding:0 0 0 20px;
}

.case-i-name {
    color:#fff;
    margin:24px 0 2px 0;
}

.case-i-prize {
    font-family:PT Sans, sans-serif;
    font-size:9px;
    color:#45474f;
    text-transform:uppercase;
}

.case-i-rub {
    float:right;
    width:61px;
    height:33px;
    line-height:34px;
    text-align:center;
    color:#2d2e32;
    margin:21px 19px 0 0;
}

.case-1 .case-i-name b,
.case-1 .case-row b {
    color:#2bec98;
}

.case-2 .case-i-name b,
.case-2 .case-row b {
    color:#2ac2df;
}

.case-3 .case-i-name b,
.case-3 .case-row b {
    color:#f6b434;
}

.case-4 .case-i-name b,
.case-4 .case-row b {
    color:#fe493c;
}

.case-row {
    width:96px;
    height:96px;
    margin:50px 0 0 78px;
    text-align:center;
    color:#fff;
    line-height:22px;
    box-sizing:border-box;
    padding:26px 0 0 0;
}

.case-test .case-row b {
    font-size:23px;
}

.case-row b {
    display:block;
    font-size:26px;
}

.case-1 .case-link,
.case-5 .case-link {
    background:url(/assets/images/case-link-1.png) no-repeat 0 0;
}

.case-2 .case-link {
    background:url(/assets/images/case-link-2.png) no-repeat 0 0;
}

.case-3 .case-link {
    background:url(/assets/images/case-link-3.png) no-repeat 0 0;
}

.case-4 .case-link {
    background:url(/assets/images/case-link-4.png) no-repeat 0 0;
}

.case-1 .case-link:before,
.case-5 .case-link:before {
    background:url(/assets/images/case-link-1.png) no-repeat 0 -44px;
}

.case-2 .case-link:before {
    background:url(/assets/images/case-link-2.png) no-repeat 0 -44px;
}

.case-3 .case-link:before {
    background:url(/assets/images/case-link-3.png) no-repeat 0 -44px;
}

.case-4 .case-link:before {
    background:url(/assets/images/case-link-4.png) no-repeat 0 -44px;
}

.case-5 .case-i-rub {
    color:#fff;
}

.case-link:before {
    width:151px;
    height:44px;
    position:absolute;
    top:0;
    left:0;
    content:'';
}

.case-link {
    width:151px;
    height:44px;
    display:block;
    margin:32px 0 0 51px;
    position:relative;
}

.slider-loop {
    position:relative;
    margin:0 0 32px 0;
}

.slider {
    width:1200px;
    position:relative;
    top:0;
    left:0;
    overflow:visible;
}

.slider .s-0 {
    background:url(/assets/images/slider/1.png) no-repeat 0 0;
}

.slider .s-1 {
    background:url(/assets/images/slider/2.png) no-repeat 0 0;
}

.slider .s-2 {
    background:url(/assets/images/slider/3.png) no-repeat 0 0;
}

.slider .s-0,
.slider .s-1,
.slider .s-2,
.slider .s-3,
.slider .s-4,
.slider .s-5,
.slider .s-6,
.slider .s-7,
.slider .s-8 {
    transition: .4s linear;
}
.slider .s-0:hover {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(199,48,215,1);
    -moz-box-shadow: 2px 2px 10px 0px rgba(199,48,215,1);
    box-shadow: 2px 2px 10px 0px rgba(199,48,215,1);
}
.slider .s-1:hover {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(246,180,52,1);
    -moz-box-shadow: 2px 2px 10px 0px rgba(246,180,52,1);
    box-shadow: 2px 2px 10px 0px rgba(246,180,52,1);
}
.slider .s-2:hover {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(254,76,60,1);
    -moz-box-shadow: 2px 2px 10px 0px rgba(254,76,60,1);
    box-shadow: 2px 2px 10px 0px rgba(254,76,60,1);
}
.slider .s-3:hover {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(57,167,46,1);
    -moz-box-shadow: 2px 2px 10px 0px rgba(57,167,46,1);
    box-shadow: 2px 2px 10px 0px rgba(57,167,46,1);
}
.slider .s-4:hover {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(177,164,24,1);
    -moz-box-shadow: 2px 2px 10px 0px rgba(177,164,24,1);
    box-shadow: 2px 2px 10px 0px rgba(177,164,24,1);
}
.slider .s-5:hover {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(97,127,216,1);
    -moz-box-shadow: 2px 2px 10px 0px rgba(97,127,216,1);
    box-shadow: 2px 2px 10px 0px rgba(97,127,216,1);
}
.slider .s-6:hover {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(241,93,189,1);
    -moz-box-shadow: 2px 2px 10px 0px rgba(241,93,189,1);
    box-shadow: 2px 2px 10px 0px rgba(241,93,189,1);
}
.slider .s-7:hover {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(158,158,158,1);
    -moz-box-shadow: 2px 2px 10px 0px rgba(158,158,158,1);
    box-shadow: 2px 2px 10px 0px rgba(158,158,158,1);
}
.slider .s-8:hover {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(254,76,60,1);
    -moz-box-shadow: 2px 2px 10px 0px rgba(254,76,60,1);
    box-shadow: 2px 2px 10px 0px rgba(254,76,60,1);
}

.slider .s-0 .case-i-name b {
    color:#c730d7;
}

.slider .s-1 .case-i-name b {
    color:#f6b434;
}

.slider .s-2 .case-i-name b {
    color:#fe4c3c;
}

.slider .s-3 .case-i-name b {
    color:#39a72e;
}

.slider .s-4 .case-i-name b {
    color:#b1a418;
}

.slider .s-5 .case-i-name b {
    color:#617fd8;
}

.slider .s-6 .case-i-name b {
    color:#f15dbd;
}

.slider .s-7 .case-i-name b {
    color:#9e9e9e;
}

.slider .s-8 .case-i-name b {
    color:#fe4c3c;
}

.slider li {
    width:347px;
    height:255px;
    float:left;
    margin: 20px 29px 0 0;
    position:relative;
    border-radius: 10px;
}

.slider li span {
    display:block;
}

.slider .case-i-rub {
    width:64px;
}

.s-0 .slider-link {
    background:url(/assets/images/slider-link-1.png) no-repeat 0 0;
}

.s-0 .slider-link:before {
    background:url(/assets/images/slider-link-1.png) no-repeat 0 -44px;
}

.s-1 .slider-link {
    background:url(/assets/images/slider-link-2.png) no-repeat 0 0;
}

.s-1 .slider-link:before {
    background:url(/assets/images/slider-link-2.png) no-repeat 0 -44px;
}

.s-2 .slider-link {
    background:url(/assets/images/slider-link-3.png) no-repeat 0 0;
}

.s-2 .slider-link:before {
    background:url(/assets/images/slider-link-3.png) no-repeat 0 -44px;
}

.s-3 .slider-link {
    background:url(/assets/images/slider-link-4.png) no-repeat 0 0;
}

.s-3 .slider-link:before {
    background:url(/assets/images/slider-link-4.png) no-repeat 0 -44px;
}

.s-4 .slider-link {
    background:url(/assets/images/slider-link-5.png) no-repeat 0 0;
}

.s-4 .slider-link:before {
    background:url(/assets/images/slider-link-5.png) no-repeat 0 -44px;
}

.s-5 .slider-link {
    background:url(/assets/images/slider-link-6.png) no-repeat 0 0;
}

.s-5 .slider-link:before {
    background:url(/assets/images/slider-link-6.png) no-repeat 0 -44px;
}

.s-6 .slider-link {
    background:url(/assets/images/slider-link-7.png) no-repeat 0 0;
}

.s-6 .slider-link:before {
    background:url(/assets/images/slider-link-7.png) no-repeat 0 -44px;
}

.s-7 .slider-link {
    background:url(/assets/images/slider-link-8.png) no-repeat 0 0;
}

.s-7 .slider-link:before {
    background:url(/assets/images/slider-link-8.png) no-repeat 0 -44px;
}

.s-8 .slider-link {
    background:url(/assets/images/slider-link-9.png) no-repeat 0 0;
}

.s-8 .slider-link:before {
    background:url(/assets/images/slider-link-9.png) no-repeat 0 -44px;
}

.slider-link:before {
    width:50px;
    height:44px;
    position:absolute;
    bottom:0;
    right:0;
    content:'';
}

.slider-link {
    width:50px;
    height:44px;
    position:absolute;
    bottom:0;
    right:0;
}

.slider .case-i-prize {
    font-size:12px;
}

.controls {
    position:absolute;
    width:100%;
    top:0;
}

.controls button {
    width:10px;
    height:67px;
    position:absolute;
    top:94px;
    cursor:pointer;
}

.controls button:hover {
    opacity:0.5;
}

.controls .prev-slide {
    background:url(/assets/images/prev.png) no-repeat 0 0;
    left:-30px;
}

.controls .next-slide {
    background:url(/assets/images/next.png) no-repeat 0 0;
    right:-30px;
}

.case-2-loop {
    overflow:hidden;
}

.case-2-i.case-1 {
    background:url(/assets/images/case2/1.png) no-repeat 0 0;
}

.case-2-i.case-2 {
    background:url(/assets/images/case2/2.png) no-repeat 0 0;
}

.case-2-i.case-3 {
    background:url(/assets/images/case2/3.png) no-repeat 0 0;
}

.case-2-i.case-4 {
    background:url(/assets/images/case2/4.png) no-repeat 0 0;
}

.case-2-i:nth-child(4n) {
    margin:0;
}

.case-2-i {
    width:252px;
    height:300px;
    float:left;
    margin:0 30px 30px 0;
    position:relative;
}

.case-2-link:before {
    background:url(/assets/images/case-2-link.png) no-repeat 0 -44px;
    width:45px;
    height:44px;
    position:absolute;
    top:0;
    left:0;
    content:'';
}

.case-2-link {
    background:url(/assets/images/case-2-link.png) no-repeat 0 0;
    width:45px;
    height:44px;
    position:absolute;
    bottom:24px;
    right:19px;
}

.case-2-loop .case-i-name b {
    color:#2bec98;
}

.topuser {
    background:url(/assets/images/topuser.png) no-repeat 0 0;
    height:163px;
    overflow:hidden;
    box-sizing:border-box;
    padding:0 0px 0 88px;
}

.topuser-i {
    float:left;
    width:87px;
    height:163px;
    margin:0 25px 0 0;
}

.topuser-ava {
    background:url(/assets/images/topuser-ava.png) no-repeat 0 0;
    width:87px;
    height:87px;
    position:relative;
    margin:18px 0 7px 0;
}

.topuser-ava img {
    width:71px;
    height:71px;
    border-radius:50%;
    position:absolute;
    top:8px;
    left:8px;
}

.topuser-col span {
    background:url(/assets/images/ico-1.png) no-repeat 0 center;
    padding:0 0 0 18px;
}

.topuser-col {
    text-align:center;
    color:#fff;
}

.topuser-rub {
    text-align:center;
    color:#2bec98;
    padding:5px 0 0 0;
}

.footer {
    overflow:hidden;
    padding:50px 0;
}

.footer-text {
    float:left;
    color:#fff;
}

.footer-text a {
    color:#2bec98;
}

.copy:hover {
    opacity:0.5;
}

.copy {
    background:url(/assets/images/copy.png) no-repeat 0 0;
    width:82px;
    height:30px;
    display:block;
    float:right;
}

.arcticmodal-overlay,
.arcticmodal-container {
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:1000;
    background-color: rgba(0, 0, 0, 0.4);
}

.arcticmodal-container {
    overflow:auto;
    margin:0;
    padding:0;
    border:0;
    border-collapse:collapse;
}

*:first-child+html .arcticmodal-container {
    height:100%;
}

.arcticmodal-container_i {
    height:100%;
    margin:0 auto;
}

.arcticmodal-container_i2 {
    padding: 0;
    margin:0;
    border:0;
    vertical-align:middle;
}

.arcticmodal-error {
    padding:20px;
    border-radius:10px;
    background:#000;
    color:#fff;
}

.arcticmodal-loading {
    width:80px;
    height:80px;
    border-radius:10px;
}

.modal {
    position:absolute;
    z-index:100;
    background:#1d1e24;
    border-radius:10px;
    padding:18px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.modal-title {
    padding:0 0 15px 0;
    margin:5px 0 0 0;
    border-bottom:3px solid #202127;
    overflow:hidden;
    line-height:18px;
    color:#fff;
}

.modal-title b {
    color:#2bec98;
}

.modal-title span {
    display:block;
    font-family:PT Sans, sans-serif;
    font-size:12px;
    text-transform:uppercase;
    color:#45474f;
}

.modal-close:before {
    background:#1d1e24 url(/assets/images/close.png) no-repeat 0 -33px;
    width:33px;
    height:33px;
    position:absolute;
    top:0;
    left:0;
    content:'';
}

.modal-close {
    background:url(/assets/images/close.png) no-repeat 0 0;
    width:33px;
    height:33px;
    position:absolute;
    top:25px;
    right:19px;
    cursor:pointer;
}

.modal-content {
    overflow:hidden;
    margin:20px 0 0 0;
}

.form-text {
    text-align:center;
    color:#42444d;
    font-family:PT Sans, sans-serif;
    font-size:13px;
    padding:0 0 30px 0;
}

.form-summ {
    text-align:center;
    color:#fff;
}

.form-row {
    background:url(/assets/images/form-row.png) no-repeat center 0;
    height:101px;
    text-align:center;
}

.form-row input {
    width:114px;
    height:47px;
    background:#17181d;
    border-radius:10px;
    margin:26px 0 0 0;
    text-align:center;
    padding:0 20px;
    font-size:13px;
    font-family:uni_sans_heavy;
}

.form-title {
    padding:38px 0 25px 0;
    text-align:center;
    color:#2ade90;
}

.form-nav {
    overflow:hidden;
}

.form-nav li:last-child {
    margin:0;
}

.form-nav .active:after {
    opacity:1;
}

.form-nav li:after {
    width:142px;
    height:61px;
    position:absolute;
    top:0;
    left:0;
    content:'';
    opacity:0;
    transition:.5s;
}

.form-nav li {
    float:left;
    width:142px;
    height:61px;
    margin:0 17px 0 0;
    cursor:pointer;
    position:relative;
}

.form-nav li:nth-child(1) {
    background:url(/assets/images/form-nav.png) no-repeat 0 0;
}

.form-nav li:nth-child(2) {
    background:url(/assets/images/form-nav.png) no-repeat -160px 0;
}

.form-nav li:nth-child(3) {
    background:url(/assets/images/form-nav.png) no-repeat right 0;
}

.form-nav li:nth-child(1):after {
    background:#1d1e24 url(/assets/images/form-nav.png) no-repeat 0 bottom;
}

.form-nav li:nth-child(2):after {
    background:#1d1e24 url(/assets/images/form-nav.png) no-repeat -160px bottom;
}

.form-nav li:nth-child(3):after {
    background:#1d1e24 url(/assets/images/form-nav.png) no-repeat right bottom;
}

.form-input {
    background:#17181d;
    width:204px;
    height:47px;
    border-radius:10px;
    font-size:13px;
    font-family:uni_sans_heavy;
    padding:0 20px;
    text-align:center;
}

.form-button:before {
    background:url(/assets/images/form-button.png) no-repeat 0 -44px;
    width:161px;
    height:44px;
    position:absolute;
    top:0;
    left:0;
    content:'';
}

.form-button {
    background:url(/assets/images/form-button.png) no-repeat 0 0;
    margin:35px 0 0 0;
    width:161px;
    height:44px;
    cursor:pointer;
    position:relative;
}

.form-button-new {
    background:url(/assets/images/form-btn.png) no-repeat 0 0;
}

.form-button-new:before {
    background:url(/assets/images/form-btn.png) no-repeat 0 -44px;
}

.container {
    overflow:hidden;
    padding:37px 0 30px 0;
}

.c-title {
    text-align:center;
    font-size:16px;
    padding:0 0 5px 0;
    font-weight:100;
}

.c-text {
    text-align:center;
    font-family:PT Sans, sans-serif;
    font-size:12px;
    color:#45474f;
    text-transform:uppercase;
}

.rulets:after {
    background:url(/assets/images/rul-row.png) no-repeat 0 0;
    width:47px;
    height:140px;
    position:absolute;
    top:10px;
    left:528px;
    content:'';
}

.rulets {
    background:url(/assets/images/rulets.png) no-repeat 0 0;
    height:160px;
    overflow:hidden;
    margin:35px 0;
    position:relative;
}

.rulet.active ul {
    transform:translate3d(-3125px, 0, 0);
    transition:13s;
}

.rulet {
    width:1057px;
    height:120px;
    overflow:hidden;
    margin:20px 0 0 22px;
}

.rulet ul {
    width:9999px;
    height:120px;
    overflow:hidden;
    position:relative;
    left:-50px;
}

.rulet li:nth-child(1) {
    margin:0;
}

.rulet li {
    float:left;
    margin:0 0 0 9px;
}

.rul-1 {
    background:url(/assets/images/rul.png) no-repeat 0 0;
}

.rul-2 {
    background:url(/assets/images/rul.png) no-repeat -130px 0;
}

.rul-3 {
    background:url(/assets/images/rul.png) no-repeat -260px 0;
}

.rul-4 {
    background:url(/assets/images/rul.png) no-repeat -390px 0;
}

.rul-5 {
    background:url(/assets/images/rul.png) no-repeat right 0;
}

.rul {
    width:121px;
    height:120px;
    line-height:120px;
    text-align:center;
    color:#fff;
    font-size:21px;
}

.rulet-button:before {
    background:url(/assets/images/rulet-button.png) no-repeat 0 -48px;
    width:219px;
    height:48px;
    position:absolute;
    top:0;
    left:0;
    content:'';
}

.rulet-button {
    background:url(/assets/images/rulet-button.png) no-repeat 0 0;
    width:219px;
    height:48px;
    margin:0 auto;
    position:relative;
}

.rulet-button a:hover {
    color:#2d2e32;
}

.rulet-button a {
    width:219px;
    height:48px;
    line-height:48px;
    text-align:center;
    position:absolute;
    top:0;
    left:0;
    z-index:33;
}

.rulet-all {
    text-align:center;
    font-family:PT Sans, sans-serif;
    font-size:13px;
    color:#45474f;
    text-transform:uppercase;
    padding:20px 0 0 0;
}

.rulet-text {
    text-align:center;
    padding:45px 0 10px 0;
}

.s-title {
    margin:40px 0;
    height:32px;
    border-bottom:3px solid #202127;
}

.s-title ul {
    float:left;
    position:relative;
    left:50%;
}

.s-title li:after {
    width:100%;
    height:3px;
    background:#f6b434;
    position:absolute;
    bottom:-3px;
    left:0;
    content:'';
}

.s-title li {
    float:left;
    position:relative;
    right:50%;
    color:#f6b434;
    font-size:13px;
    height:32px;
}

.viewn {
    overflow:hidden;
}

.viewn li {
    float:left;
    margin:0 19px 20px 0;
}

.profile-loop {
    overflow:hidden;
    margin:35px 0 0 0;
}

.profile-loop .hidden {
    position:relative;
}

.profile-ava {
    background:url(/assets/images/profile-ava.png) no-repeat 0 0;
    width:202px;
    height:202px;
    float:left;
    position:relative;
    margin:0 35px 0 0;
}

.profile-ava img {
    width:176px;
    height:176px;
    border-radius:50%;
    position:absolute;
    top:12px;
    left:12px;
}

.profile-info {
    height:38px;
    line-height:38px;
    border-bottom:2px solid #202127;
    padding:0 0 0 12px;
    color:#fff;
}

.profile-info b {
    color:#efd53a;
}

.profile-login {
    border-bottom:2px solid #202127;
    padding:0 0 22px 12px;
    margin:25px 0 0 0;
    color:#fff;
    font-size:14px;
    width:526px;
    overflow:hidden;
}

.profile-login b {
    color:#2bec98;
}

.profile-login a {
    font-family:PT Sans, sans-serif;
    font-size:14px;
    color:#59595a;
    text-decoration:underline;
    text-transform:uppercase;
    display:block;
    float:left;
    margin:0 0 0 15px;
}

.profile-login em {
    float:left;
    display:block;
    margin:2px 0 0 0;
}

.profile-button {
    position:absolute;
    width:317px;
    height:44px;
    top:41px;
    right:0;
}

.profile-button a:nth-child(1) {
    background:url(/assets/images/profile-button.png) no-repeat 0 0;
    float:left;
}

.profile-button a:nth-child(2) {
    background:url(/assets/images/profile-button.png) no-repeat right 0;
    float:right;
}

.profile-button a:nth-child(1):before {
    background:url(/assets/images/profile-button.png) no-repeat 0 bottom;
}

.profile-button a:nth-child(2):before {
    background:url(/assets/images/profile-button.png) no-repeat right bottom;
}

.profile-button a:before {
    width:151px;
    height:44px;
    position:absolute;
    top:0;
    left:0;
    content:'';
}

.profile-button a {
    width:151px;
    height:44px;
    display:block;
    position:relative
}

.garant {
    overflow:hidden;
    margin:35px 0 0 0;
    height:260px;
}

.garant-i:last-child {
    margin:0;
}

.garant-i {
    float:left;
    width:320px;
    text-align:center;
    margin:0 70px 0 0;
}

.garant-i:nth-child(1) {
    background:url(/assets/images/g-1.png) no-repeat center 0;
}

.garant-i:nth-child(2) {
    background:url(/assets/images/g-2.png) no-repeat center 0;
}

.garant-i:nth-child(3) {
    background:url(/assets/images/g-3.png) no-repeat center 0;
}

.garant-i:nth-child(1) .garant-name {
    color:#2bec98;
}

.garant-i:nth-child(2) .garant-name {
    color:#2ac2df;
}

.garant-i:nth-child(3) .garant-name {
    color:#f6b434;
}

.garant-name {
    font-size:14px;
    margin:170px 0 8px 0;
}

.garant-text {
    font-size:13px;
    color:#fff;
}

.faq-loop {
    overflow:hidden;
}

.faq-i:last-child {
    margin:0;
}

.faq-i {
    background:#111215;
    border-radius:10px;
    overflow:hidden;
    margin:0 0 20px 0;
}

.closed .faq-name {
    color:#f6b434;
}

.closed .faq-name:after {
    opacity:1;
}

.faq-name:before {
    background:url(/assets/images/rows1.png) no-repeat 0 0;
    width:14px;
    height:9px;
    opacity:1;
    position:absolute;
    top:22px;
    right:24px;
    content:'';
}

.faq-name:after {
    background:#1d1e24 url(/assets/images/rows2.png) no-repeat 0 0;
    width:14px;
    height:9px;
    position:absolute;
    top:22px;
    right:24px;
    content:'';
    opacity:0;
    transition:.5s;
}

.faq-name {
    height:51px;
    line-height:54px;
    color:#fff;
    cursor:pointer;
    transition:.5s;
    background:#1d1e24;
    border-radius:5px 5px 10px 10px;
    padding:0 0 0 23px;
    position:relative;
}

.faq-mess {
    padding:23px;
    color:#fff;
    font-family:PT Sans, sans-serif;
    font-size:13px;
    text-transform:uppercase;
    display:none;
}

.ref-bg .titles {
    color:#2bec98;
    padding:0 0 15px 0;
}

.ref-bg p:last-child {
    padding:0;
}

.ref-bg p {
    padding:0 0 25px 0;
}

.ref-bg {
    background:#1d1e24;
    border-radius:10px;
    padding:27px;
    overflow:hidden;
    margin:35px 0 0 0;
    font-size:13px;
    color:#fff;
}

.ref-list {
    overflow:hidden;
    padding:35px 0 25px 0;
}

.ref-list-i:last-child {
    margin:0;
}

.ref-list-i {
    overflow:hidden;
    margin:0 0 25px 0;
}

.ref-list-i:nth-child(1) {
    background:url(/assets/images/ref-1.png) no-repeat 0 0;
}

.ref-list-i:nth-child(2) {
    background:url(/assets/images/ref-2.png) no-repeat 0 0;
}

.ref-list-i:nth-child(3) {
    background:url(/assets/images/ref-3.png) no-repeat 0 0;
}

.ref-list-i:nth-child(1) .ref-list-name {
    color:#2bec98;
}

.ref-list-i:nth-child(2) .ref-list-name {
    color:#2ac2df;
}

.ref-list-i:nth-child(3) .ref-list-name {
    color:#f6b434;
}

.ref-list-num {
    width:85px;
    height:85px;
    line-height:86px;
    text-align:center;
    font-size:19px;
    color:#2d2e32;
    float:left;
    margin:0 20px 0 0;
}

.ref-list-name {
    font-size:14px;
    margin:15px 0 15px 0;
}

.ref-list-text {
    font-size:13px;
}

.ref-i {
    overflow:hidden;
    margin:0 0 15px 0;
}

.ref-i:last-child {
    margin:0;
}

.ref-text {
    float:left;
    margin:0 15px 0 0;
    height:38px;
    line-height:38px;
}

.ref-url {
    overflow:hidden;
    height:38px;
    background:#131418;
    border-radius:10px;
}

.ref-num {
    float:left;
    padding:0 15px;
    line-height:38px;
    height:38px;
    background:#131418;
    border-radius:10px;
}

.ref-url input {
    width:100%;
    height:38px;
    border-radius:10px;
    padding:0 15px;
    color:#f6b434;
    font-family:uni_sans_heavy;
    font-size:12px;
}

.footer-blank {
    width:196px;
    margin:0 auto;
    position:relative;
    left:140px;
}

.footer-blank .blank {
    width:88px;
    height:31px;
    background:#000;
    float:left;
    margin:0 10px 0 0;
}

.rulet li {
    position:relative;
}

.rulet .active:after {
    opacity:1;
}

.rulet li:after {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border:3px solid #f6b434;
    border-radius:8px;
    content:'';
    transition:.5s;
    opacity:0;
}

.modal-win li {
    border:3px solid #17181d;
    border-radius:50%;
    margin:0 auto 40px auto;
    float:none;
}

.win-button {
    overflow:hidden;
    margin:0 10px 20px 10px;
}

.win-button a {
    display:block;
    height:44px;
    line-height:44px;
    border-radius:10px;
    color:#fff;
    text-align:center;
    transition:.5s;
}

.win-button a:hover {
    color:#1d1e24;
}

.win-button a:nth-child(1) span {
    font-family:PT Sans, sans-serif;
    font-size:13px;
}

.win-button a:nth-child(1):hover {
    background-color:#fe493c;
}

.win-button a:nth-child(2):hover {
    background-color:#2bec98;
}

.win-button a:nth-child(1) {
    width:160px;
    border:3px solid #fe493c;
    float:left;
}

.win-button a:nth-child(2) {
    width:120px;
    border:3px solid #2bec98;
    float:right;
}

.win-btn:hover {
    background-color:#f6b434;
    color:#1d1e24;
}

.win-btn {
    display:block;
    height:44px;
    line-height:44px;
    border:3px solid #f6b434;
    color:#fff;
    border-radius:10px;
    width:180px;
    margin:0 auto 20px auto;
    text-align:center;
    transition:.5s;
}

.terms-title {
    font-weight:bold;
    font-size:18px;
    text-transform:uppercase;
}

.terms {
    font-family:PT Sans, sans-serif;
    font-size:14px;
    color:#fff;
    padding:35px 0 0 0;
}

.viewn li,
.rulet li {
    position:relative;
}

.viewn .rul-prize,
.rulet .rul-prize {
    top:20px;
    left:15px;
}

.live-i .rul-prize {
    width:70px !important;
    height:70px !important;
    top:28px !important;
    left:28px !important;
}

.live-i .rul-prize img {
    max-width:60px !important;
    max-height:60px !important;
}

.rul-prize {
    width:80px;
    height:80px;
    position:absolute;
}

.rul-prize img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    max-width:95px;
    max-height:95px;
}

.case-daily {
    background:url(/assets/images/case-daily.png) no-repeat 0 0 !important;
}

.case-daily .case-i-name b {
    color:#f6b434;
}

.case-daily .case-link:before {
    background:url(/assets/images/case-link-4.png) no-repeat 0 -44px;
}

.case-daily .case-link {
    background:url(/assets/images/case-link-4.png) no-repeat 0 0;
}

.case-daily:after {
    background:url(/assets/images/test2.png) no-repeat 0 0;
    width:124px;
    height:95px;
    position:absolute;
    top:67px;
    left:33px;
    content:'';
}

.rul {
    background:#1d1e24;
    border-radius:12px;
    height:120px;
    line-height:120px;
    text-align:center;
    position:relative;
}

.rul-images img {
    vertical-align:middle;
    position:relative;
    height:67px;
}

.rul-rub {
    position:absolute;
    z-index:77;
    display:block;
    top:0;
    left:0;
    line-height:120px;
    width:120px;
}
.banner {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:999;
}

.banner-overlay {
    background:#161418;
    opacity:0.95;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:1000;
}

.banner-images {
    width:800px;
    height:400px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left:-400px;
    z-index:1001;
}

.banner-images img {
    width:800px;
    height:400px;
}


.live-i:hover .live-avatar img {
    opacity:1;
}

.live-avatar img {
    position:absolute;
    top:29px;
    left:30px;
    width:66px;
    height:66px;
    border-radius:50%;
    border:2px solid #151316;
    transition:.5s;
    opacity:0;
}

.prize-text p {
    padding:0 0 5px 0;
}

.prize-text p:nth-child(1) {
    font-size:15px;
    color:#f6b434;
}

.prize-text {
    margin:34px 0 0 238px;
    font-size:11px;
    color:#fff;
}

.loading {
    opacity: 0;
    transition: opacity .8s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #262626;
    z-index: -1;
}
.loading .load_img {
    width: 400px;
    height: 400px;

    display: block;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translateX(-50%) translateY(-50%);

    background: url('/assets/images/loading.gif');
}

app-root:empty + .loading {
    opacity: 1;
    z-index: 100;
}

.my_prizes_btn:before, .my_delivery_btn:before {
    width:151px;
    height:44px;
    position:absolute;
    top:0;
    left:0;
    content:'';
}

.my_prizes_btn, .my_delivery_btn {
    width:151px;
    height:44px;
    display:block;
    margin:32px 0 0 51px;
    position:relative;
}

.my_prizes_btn {
    background: url(/assets/images/my_prize_btn.png) no-repeat 0 0;
}
.my_prizes_btn:before {
    background: url(/assets/images/my_prize_btn.png) no-repeat 0 -44px;
}

.my_delivery_btn {
    background: url(/assets/images/my_delivery_btn.png) no-repeat 0 0;
}
.my_delivery_btn:before {
    background: url(/assets/images/my_delivery_btn.png) no-repeat 0 -44px;
}