<app-admin-donate-graph [donates]="statService.donatesByDay" [payouts]="statService.payoutsByDay"></app-admin-donate-graph>

<hr />
<h4>Статистика по платежам</h4>
<hr />

<table>
    <tbody>
        <tr>
            <td>Доход за сегодня:</td>
            <td>{{ statService.donatesToday }} руб.</td>
        </tr>
        <tr>
            <td>Доход за неделю:</td>
            <td>{{ statService.donatesWeek }} руб.</td>
        </tr>
        <tr>
            <td>Доход за месяц:</td>
            <td>{{ statService.donatesMonth }} руб.</td>
        </tr>

        <tr>
            <td colspan="2"><hr /></td>
        </tr>

        <tr>
            <td>Расход за сегодня:</td>
            <td>{{ statService.payoutsToday }} руб.</td>
        </tr>
        <tr>
            <td>Расход за неделю:</td>
            <td>{{ statService.payoutsWeek }} руб.</td>
        </tr>
        <tr>
            <td>Расход за месяц:</td>
            <td>{{ statService.payoutsMonth }} руб.</td>
        </tr>

        <tr>
            <td colspan="2"><hr /></td>
        </tr>

        <tr>
            <td>Прибыль за сегодня:</td>
            <td>{{ statService.profitToday }} руб.</td>
        </tr>
        <tr>
            <td>Прибыль за неделю:</td>
            <td>{{ statService.profitWeek }} руб.</td>
        </tr>
        <tr>
            <td>Прибыль за месяц:</td>
            <td>{{ statService.profitMonth }} руб.</td>
        </tr>

        <tr>
            <td colspan="2"><hr /></td>
        </tr>
    </tbody>
</table>

<h4>Статистика по сайту</h4>
<hr />

<table>
    <tbody>
        <tr>
            <td>Зарегистрировалось на сайте:</td>
            <td>{{ statService.registeredAmount }}</td>
        </tr>
        <tr>
            <td>Сегодня открыли кейсов:</td>
            <td>{{ statService.casesOpened }} шт.</td>
        </tr>

        <tr>
            <td colspan="2"><hr /></td>
        </tr>
    </tbody>
</table>