h4 {
    font: 18px "PT Sans";
    font-weight: normal;

    color: #3b7fce;
    text-align: center;

    width: 100%;
    display: block;
}
hr {
    margin: 20px 4% 20px 1%;
    border-radius: 5px;
    color: #ddd;
}

table {
    width: 100%;
}
table tr td {
    color: #3b7fce;

    font: 16px "PT Sans";
    font-weight: normal;

    text-align: center;
    width: 50%;
    line-height: 35px;
}