<h4>Список промо-кодов</h4>
<hr />

<table>
    <thead>
        <tr>
            <th>Промо-код</th>
            <th>Цена</th>
            <th>Осталось активаций</th>
            <th style="width: 30%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of promoService.codesList |
                    paginate: {itemsPerPage: 10, currentPage: page}
                ">
            <td>
                <p>{{ x.code }}</p>
            </td>
            <td>
                <p>{{ x.price }}</p>
            </td>
            <td>
                <p>{{ x.amount }}</p>
            </td>
            <td>
                <button type="button" (click)="promoService.deleteCode(x)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>