<h1 mat-dialog-title>Отправка предмета</h1>
<div mat-dialog-content>
    <p>Введите трек-код</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.track_code">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Отмена</button>
    <button mat-button [mat-dialog-close]="data.track_code" cdkFocusInitial>Отправить</button>
</div>
