<button (click)="onReturnBack.emit(true)">Назад к списку</button>

<h4>Добавление подкрутки</h4>
<hr />

<table>
    <tbody>
        <tr>
            <td>
                <p>Предмет</p>
            </td>
            <td>
                <mat-select placeholder="Выберите предмет..." [(ngModel)]="selectedItem">
                    <mat-option *ngFor="let item of itemsService.itemsList" [value]="item">
                        {{ item.name }} - {{ item.price }} руб.
                    </mat-option>
                </mat-select>
            </td>
        </tr>

        <tr>
            <td>
                <p>Кол-во</p>
            </td>
            <td>
                <input type="number" [(ngModel)]="amount" />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button type="button" (click)="addCheat()">Добавить</button>
            </td>
        </tr>
    </tbody>
</table>

<h4>Список подкрученных предметов</h4>
<hr />

<table>
    <thead>
        <tr>
            <th style="width: auto">Предмет</th>
            <th style="width: auto">Кол-во</th>
            <th style="width: 35%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cheat of cheats">
            <td style="width: auto">
                <p>{{ cheat.item.name }} - {{ cheat.item.price }} руб.</p>
            </td>
            <td style="width: auto">
                <p>{{ cheat.amount }} штук.</p>
            </td>
            <td style="width: auto">
                <button (click)="usersService.deleteCheat(cheat)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>