<h4>Статистика по доходам с пользовательских кейсов</h4>
<hr />

<table>
    <thead>
        <tr>
            <th>Кейс</th>
            <th>Доход</th>
            <th>Дата</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let box of ownBoxes |
                        paginate: {id: 'user-ownBox-history', itemsPerPage: 10, currentPage: page}
            ">
            <td><p>{{ box.box.name }}</p></td>
            <td><p>{{ box.amount }}</p></td>
            <td><p>{{ box.created_at }}</p></td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls id="user-ownBox-history" (pageChange)="page = $event"></pagination-controls>
</div>
