<h4>Поиск среди пользователей</h4>
<hr />

<table>
    <tbody>
    <tr>
        <td>
            <input type="text"
                   placeholder="Введите имя для поиска..."
                   [value]="searchName"
                   (input)="searchName = $event.target.value"
            />
        </td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Имя</th>
            <th>VK ID</th>
            <th>Баланс</th>
            <th style="width: 30%;"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of usersService.usersList |
                adminUserNameFilter: searchName |
                paginate: {itemsPerPage: 10, currentPage: page}
            ">
            <td>
                <img src="{{ user.avatar }}" width="50px" height="50px" />
            </td>
            <td>
                <p [ngStyle]="user.is_admin ? {'color' : '#ff7e05'} : {'color' : '#3b7fce'}">{{ user.name }}</p>
            </td>
            <td>
                <a href="https://vk.com/id{{ user.vk_id }}" target="_blank">{{ user.vk_id }}</a>
            </td>
            <td>
                <p>{{ user.balance }}</p>
            </td>
            <td>
                <button type="button" (click)="selectUser(user)">Подробнее</button>
                <button type="button" (click)="showCheats(user)">Подкрутка</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>