<h4>Список кейсов</h4>
<hr />

<table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Секция</th>
            <th>Цена</th>
            <th>Позиция</th>
            <th>Активен?</th>
            <th>Приоритетный?</th>
            <th style="width: 30%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of boxesService.boxesList |
                            paginate: {id: 'boxesList', itemsPerPage: 10, currentPage: page}
        ">

            <td>
                <p>{{ x.name }}</p>
            </td>
            <td>
                <p>{{ x.section.name }}</p>
            </td>
            <td>
                <p>{{ x.price }}</p>
            </td>
            <td>
                <p>{{ x.pos }}</p>
            </td>
            <td>
                <p *ngIf="x.is_enabled">Да</p>
                <p *ngIf="!x.is_enabled">Нет</p>
            </td>
            <td>
                <p *ngIf="x.is_priority">Приоритетный</p>
                <p *ngIf="!x.is_priority">Обыкновенный</p>
            </td>
            <td>
                <button type="button" (click)="editBox(x)">Изменить</button>
                <button type="button" (click)="selectBox(x)">Предметы</button>
                <button type="button" (click)="boxesService.deleteBox(x)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls id="boxesList" (pageChange)="page = $event"></pagination-controls>
</div>