<h4>Список доступных предметов</h4>
<hr />

<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th style="width: 30%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of boxesService.availItems |
                        paginate: {id: 'ownItemsList', itemsPerPage: 10, currentPage: page}
            ">
            <td>
                <img [src]="getImg(x.item)" width="70px" height="70px" />
            </td>
            <td>
                <p>{{ x.item.name }} - {{ x.item.price }} руб.</p>
            </td>
            <td>
                <button type="button" (click)="boxesService.delAvailItem(x)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls id="ownItemsList" (pageChange)="page = $event"></pagination-controls>
</div>