<div class="container">
    <div class="c-title">Профиль <b style="color:#2bec98;">игрока</b></div>
    <div class="profile-loop">
        <div class="profile-ava">
            <a href="https://vk.com/id{{ vkId }}" target="_blank">
                <img [src]="avatar" alt="" />
            </a>
        </div>
        <div class="hidden">
            <div class="profile-info">
                <a href="https://vk.com/id{{ vkId }}" target="_blank"><b>{{ name }}</b></a>
            </div>
            <div class="profile-info">Кейсы: <b>{{ gamesPlayed }}</b></div>
            <div class="profile-info">Выигрыш: <b>{{ profit }} р</b></div>
        </div>
    </div>
    <div class="s-title"><ul><li>ПОСЛЕДНИЕ 25 ПРИЗОВ<li></ul></div>
    <ul class="viewn">
        <li *ngFor="let x of drops"
            class="rul"
            [ngStyle]="{'border-color' : hoverItemColor(x)}"
            (mouseover)="itemHovered = x.id"
            (mouseleave)="itemHovered = -1"
        >
            <span class="rul-prize">
                <img [src]="getItemImg(x.item)" alt="" />
            </span>
            <span class="item_name">{{ x.item.name }}</span>
        </li>
    </ul>
</div>