.viewn {
    width: 1200px;
}

.text-center {
    text-align: center;
}
.item_name {
    display: block;

    font: 12px "PT Sans";
    color: white;

    width: 100%;
    height: 30px;

    position: absolute;
    z-index: 2;
    line-height: 30px;

    overflow: hidden;
    margin-top: 90px;
}
.rul-prize img {
    max-width: 70px;
    max-height: 80px;
    left: 10px;
    top: -5px;
}
.rul .rul-prize img {
    transition: .5s linear;
}
.rul {
    transition: border-color .5s linear;
    border: 2px solid transparent;

    margin-right: 14px;
}
.rul:hover .rul-prize img {
    max-width: 90px;
    max-height: 100px;
    left: 0;
    top: -10px;
}