<h4>Статистика по промо-кодам</h4>
<hr />

<table>
    <thead>
        <tr>
            <th>Код</th>
            <th>Сумма</th>
            <th>Дата</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let promo of promos |
                    paginate: {id: 'user-promo-history', itemsPerPage: 10, currentPage: page}
        ">
            <td><p>{{ promo.code.code }}</p></td>
            <td><p>{{ promo.code.price }}</p></td>
            <td><p>{{ promo.created_at }}</p></td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls id="user-promo-history" (pageChange)="page = $event"></pagination-controls>
</div>
