<h4>Добавление нового промо-кода</h4>
<hr />

<table>
    <tbody>
        <tr>
            <td>
                <p>Промо-код</p>
            </td>
            <td>
                <input type="text"
                       placeholder="Введите промо-код..."
                       [value]="newCode.code"
                       (input)="newCode.code = $event.target.value"
                />
            </td>
        </tr>
        <tr>
            <td>
                <p>Его стоимость</p>
            </td>
            <td>
                <input type="number"
                       placeholder="Введите стоимость кода..."
                       [value]="newCode.price"
                       (input)="newCode.price = $event.target.value"
                />
            </td>
        </tr>
        <tr>
            <td>
                <p>Количество активаций</p>
            </td>
            <td>
                <input type="number"
                       placeholder="Введите количество активаций..."
                       [value]="newCode.amount"
                       (input)="newCode.amount = $event.target.value"
                />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button type="button" (click)="addPromo()">Добавить</button>
            </td>
        </tr>
    </tbody>
</table>